@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';

.mainContent {
	padding-left: 31.5px;
	padding-top: 98px;
	background: url('../media/images/background@3x.png');
	background-size: contain;
	z-index: 1;

	.h1-header {
		text-align: center;
		padding-top: 0;
		margin-left: -30px;
	}

	.dosing {
		width: 97%;
    	height: 70%;
    	display: grid;
    	grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		.container {
			display: grid;
    		grid-template-columns: 350px 350px 350px;
			grid-template-rows: auto auto;
			margin-top: 30px;
			justify-content: center;
			.icon {
				display: grid;
				justify-content: center;
				text-align: center;
			}
			.icon_image {
				height: 150px;
				align-self: center;
				img {
					height: 203px;
				}
				&.once {
					img {
						margin-top: 53px;
						height: 70px;
					}
				}
				&.take-any {
					img {
						height: 150px;
					}
				}
				&.no_food {
					img {
						height: 133px;
					}
				}
			}

			.icon_text {
				align-self: start;
				text-transform: uppercase;
				height: 70px;
				@include font-falina-bold();
				color: #8e1d58;
				font-size: 22.2px;
			}
	}
	   

  }
   
  
 }

 .isi-footer ul {
	max-width: 98%;
}
	.pill {
		text-align: center;
		position: relative;
		bottom: 163px;
		left: -35px;
		img {
			height: 60px;
			width: 130px;
			margin-bottom: 8px;
		}
		.pill_text {
			@include font-openSans-Regular();
			font-size: 11px;
		}

}
