@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';


.mainContent {
	padding-left: 31.5px;
	padding-top: 71px;
	background: url('../media/images/background.png');
	background-repeat: no-repeat;
	background-size: 102%;
	background-position: 0 0;
	z-index: 1;
	position: relative;

	.disclaimer {
		color: #fff;
		font-family: OpenSans-Bold;
		font-weight: 700;
		font-size: 11px;
		line-height: 11px;
		position: absolute;
		left: 1150px;
		top: 760px;
	}

	.logo {
		width: 281px;
		height: 132px;
		background: url('../../shared/media/images/d3-dovato-logo.png');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		top: 131px;
		left: 237px;
	}

	* {
		-webkit-text-size-adjust: none;
	}

	sub {
		top: 0.3em;
		padding-left: 0.5em;
	}

	.container {
		width: 544px;
		height: 243px;
		text-align: center;
		position: absolute;
		padding-top: 38px;
		padding-bottom: 57px;
		top: 327px;
		left: 126px;

		border-top: solid 1px #ea1b75;
		border-bottom: solid 1px #ea1b75;

		

		.pre-header {
			text-align: center;
			font-size: 50px;
			line-height: 74px;
			letter-spacing: -1.25px;
			@include font-falina-medium();
			color: #fff;
		}
		h1 {
			font-size: 80px;
			line-height: 79.8px;
			@include font-falina-bold();
			color: #fff;
		}
	}
	.abbreviation {
		color: #fff;
		font-size: 15px;
		@include font-openSans-semiBold();
		position: absolute;
		left: 38.5px;
		top: 742.5px;
	}
}

#tray_isi {
	h3 {
		span {
			@include font-openSans-Regular();
    		color: #414042;
    		font-size: 17.5px;
    		line-height: 22.5px;
		}

		width: 82%;
	}


}
