@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';

.mainContent {
	padding-left: 65px;
	padding-top: 65px;
	background: url('../media/images/summary_bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;

	.star {
		font-size: 0.45em;
		top: -0.9em;
	}

	.h1-header {
		margin-bottom: 26px;
		span {
			@include font-openSans-Regular();
		}
	}

	.feature-logo{
	  margin-left: 110px;
	  width:261px;
	  height:122px;
	  margin-bottom: 5px;
	}
	.pink-separator{
	  border-top:2px solid #ea1b75;
	  padding-top: 25px;
	  max-width: 398px;
    }
	.feature {
		@include font-openSans-Regular();
		font-size: 19px;
		letter-spacing: -0.19px;
		color: #8e1d58;
		margin-bottom: 24px;
		display: flex;
		font-size: 20px;
		letter-spacing: -0.3px;
		margin-left: 50px;
		
		&.powered {
			margin-top: 5px;
		}

		div:nth-of-type(1) {
			width: 82.5px;
			display: flex;
			justify-content: center;
		}

		div:nth-of-type(2) {
			margin-left: 21px;
		}

		h3 {
			color: #8e1d58;
			text-transform: uppercase;
			font-size: 45px;
			letter-spacing: -0.68px;
			@include font-falina-medium;
			margin-bottom: -2px;
			span {
				text-transform: lowercase;
			}
		}

		&:nth-of-type(1) {
			img {
				width: 82.5px;
				height: 81.5px;
				margin-top: 3px;
			}
		}

		&:nth-of-type(2) {
			img {
				width: 70.5px;
				height: 58.5px;
				margin-top: 20px;
			}

			ul {
				font-size: 18px;
				list-style: none;
				margin-left: 12px;
				li:before {
				    content: "·";
				    font-size: 41px;
				    line-height: 27px;
				    vertical-align: -8px;
				    color: #ea1b75;
				    margin-left: -16px;
				    padding-right: 10px;
				}
			}

			span {
				@include font-openSans-bold();
			}
		}

		&:nth-of-type(3) {
			img {
				width: 57px;
				height: 76.5px;
			}
		}
	}

	.viiv-connect-btn {
		position: absolute;
		width: 256px;
		height: 69px;
		bottom: 328px;
		right: 61px;
		background: url('../media/images/vii-v-connect-tm-cmyk.png');
    	background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0 0;
	}

	.disclaimer {
		position: absolute;
		bottom: 269px;
		right: 70px;
		color: #fff;
		@include font-openSans-Regular();
		font-size: 12px;
	}

	.chart_footnotes {
		width: 75vw;
    	margin-top: 55px;
		@include font-openSans-Regular();
		font-size: 14px;
		line-height: normal;
		color: white;
		text-indent: -8px;
		sup {
			text-indent: 0;
		}

		background: url('../media/images/darker_fog.png');
    	background-repeat: no-repeat;
		background-size: contain;
		background-position: 0 0;
	}

	#isi-footer {
		height: 31%;
	}

}
