@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';

body {
	margin: 0;
	padding: 0;
}

.mainContent {
	background-repeat: no-repeat;
    background-size: 100%;
	background-position: 0 -64px;

	video {
		&#opening-loop {
			width: 100%;
			height: auto;
			position: absolute;
			bottom: 236px;
		}
	}

	img.poster-fallback {
		width: 100%;
		z-index: -1;
		position: fixed;
		height: auto;
		position: absolute;
		bottom: 236px;
	}

	.headline-backdrop {
		position: absolute;
		width: 900px;
		height: 1000px;
		background: url('../media/images/headline-backdrop@3x.png');
    	background-repeat: no-repeat;
		background-size: 100%;
		top: -50px;
		left: -25px;
	}

	.background-fog {
		position: absolute;
		background: url(../media/images/new_dark_fog.png);
		background-position: -156px 0;
		bottom: 45px;
		background-repeat: no-repeat;
		left: -23px;
		width: 1368px;
		height: 621px;
	}

	.content-container {
		position: relative;
		z-index: 10;
		padding-top: 140px;

		.home_header_eyebrow {
			color: $aubergine;
			@include font-openSans-Regular();
			font-size: 20px;
			margin-top: 65px;
			margin-left: 86px;
		}

		.home_large_headline {
			color: $strong-pink;
			@include font-falina-bold();
			display: inline-block;
			font-size: 80px;
			line-height: .9;
    		margin-left: 190px;
    		margin-bottom: 6px;
				margin-top: 40px;
    		text-align: center;
		}

		.home_subhead {
			margin-left: 95px;
			width: 629px;
			@include font-openSans-semiBold();
			font-size: 21px;
			line-height: 1.3em;
			text-align: center;
			color: #a61759;
		}

		.home_hr {
			display: grid;
			padding-top: 13px;
			padding-bottom: 13px;

			hr {
				justify-self: start;
				width: 195px;
				margin-left: 86px;
				border-color: #666;
			}
		}

		.home_body {
			color: #fff;
			@include font-openSans-Regular();
			font-size: 16px;
			line-height: 1em;
			margin-top: 162px;
			margin-left: 25px;
			width: 800px;

			span {
				font-size: 20px;
				line-height: 1.3em;
				display: inline-block;
				@include font-openSans-bold();
			}
		}

		.footnote {
			color: #fff;
			@include font-openSans-Regular();
			font-size: 14px;
			line-height: 1.2em;
			margin-top: 33px;
			margin-left: 25px;
			width: 780px;
			text-indent: -8px;

			sup {
				top: -0.5em;
				left: 0.9em;
			}
		}

		.disclaimer {
			color: #fff;
			@include font-openSans-bold();
			font-size: 11px;
			line-height: 11px;
			position: absolute;
			left: 1150px;
			top: 760px;
		}
	}
}
