
    <div class="dialogBody noSwipe">    
      <video id="d3-video" class="video-player logVideo noSwipe vjs-default-skin" poster="../shared/media/images/M184VVideo_poster.png" data-fields="UsageDuration" data-trackid="moa video" data-description="videoPopup" data-tracktype="VideoX" data-SelectedItems="Play btn" controls="true" preload="true">
         <source src="../shared/media/video/PM-US-DLL-VID-190007_DOVATO_M184V_Video_compressed.mp4" type='video/mp4' />                                 
    </video>
  </div>