
<div id="safe-dialog_inner" class="dialogBody scrollableInner">
<h1 class="isi-dialog-header">Important Safety Information for DOVATO</h1>
<br>
<p class="footer-text-bold">BOXED WARNING: PATIENTS CO-INFECTED WITH HEPATITIS B VIRUS (HBV) AND HIV-1: EMERGENCE OF LAMIVUDINE-RESISTANT HBV AND EXACERBATIONS OF HBV</p>
<p class="footer-text-bold">All patients with HIV-1 should be tested for the presence of HBV prior to or when initiating DOVATO. Emergence of lamivudine-resistant HBV variants associated with lamivudine-containing antiretroviral regimens has been reported. If DOVATO is used in patients co-infected with HIV-1 and HBV, additional treatment should be considered for appropriate treatment of chronic HBV; otherwise, consider an alternative regimen.</p>
<p class="footer-text-bold">Severe acute exacerbations of HBV have been reported in patients who are co-infected with HIV-1 and HBV and have discontinued lamivudine, a component of DOVATO. Closely monitor hepatic function in these patients and, if appropriate, initiate anti-HBV treatment.</p>
<h3 class="isi-footer-heading">CONTRAINDICATIONS</h3>
<ul>
	<li><span class="list_grey">Do not use DOVATO in patients with previous hypersensitivity reaction to dolutegravir or lamivudine</span></li>
	<li><span class="list_grey">Do not use DOVATO in patients receiving dofetilide</span></li>
</ul>
<h3 class="isi-footer-heading">WARNINGS AND PRECAUTIONS</h3>
<h3 class="isi-footer-heading subhead">Hypersensitivity Reactions:</h3>
<ul>
	<li><span class="list_grey">Hypersensitivity reactions have been reported with dolutegravir and were characterized by rash, constitutional findings, and sometimes organ dysfunction, including liver injury</span></li>
	<li><span class="list_grey">Discontinue DOVATO immediately if signs or symptoms of severe skin or hypersensitivity reactions develop, as a delay in stopping treatment may result in a life-threatening reaction. Clinical status, 
		including liver aminotransferases, should be monitored and appropriate therapy initiated</span></li>
</ul>
<h3 class="isi-footer-heading subhead">Hepatotoxicity:</h3>
<ul>
	<li><span class="list_grey">Hepatic adverse events have been reported, including cases of hepatic toxicity (elevated serum liver biochemistries, hepatitis, and acute liver failure), in patients receiving a dolutegravir-containing 
		regimen without pre-existing hepatic disease or other identifiable risk factors</span></li>
	<li><span class="list_grey">Patients with underlying hepatitis B or C or marked elevations in transaminases prior to treatment may be at increased risk for worsening or development of transaminase elevations with use of DOVATO. 
		In some cases, the elevations in transaminases were consistent with immune reconstitution syndrome or hepatitis B reactivation, particularly in the setting where anti-hepatitis therapy was withdrawn</span></li>
	<li><span class="list_grey">Monitoring for hepatotoxicity is recommended</span></li>
</ul>
<h3 class="isi-footer-heading subhead">Embryo Fetal Toxicity:</h3>
<ul>
	<li><span class="list_grey">Alternative treatments to DOVATO should be considered at the time of conception through the first trimester  of pregnancy due to the risk of neural tube defects</span></li>
	<li><span class="list_grey">Perform pregnancy testing before use of DOVATO and counsel that consistent use of effective contraception is recommended while using DOVATO in individuals of childbearing potential</span></li>
</ul>

<h3 class="isi-footer-heading subhead">Lactic Acidosis and Severe Hepatomegaly With Steatosis:</h3>
<p>Fatal cases have been reported with the use of nucleoside analogs, including lamivudine. Discontinue DOVATO if clinical or laboratory findings suggestive of lactic acidosis or pronounced hepatotoxicity develop, including hepatomegaly and steatosis in the absence of marked transaminase elevations.</p>

<p><span class="immune-recon">Adverse Reactions or Loss of Virologic Response Due to Drug Interactions</span> with concomitant use of DOVATO and other drugs may occur (see Contraindications and Drug Interactions).</p> 

<p><span class="immune-recon">Immune Reconstitution Syndrome</span>, including the occurrence of autoimmune disorders with variable time to onset, has been reported with the use of DOVATO.</p>
<h3 class="isi-footer-heading">ADVERSE REACTIONS</h3>

<p>The most common adverse reactions (incidence ≥2%, all grades) with DOVATO were headache (3%), nausea (2%), diarrhea (2%), insomnia (2%), and fatigue (2%).</p>
<h3 class="isi-footer-heading">DRUG INTERACTIONS</h3>
<ul>
	<li><span class="list_grey">Consult full Prescribing Information for DOVATO for more information on potentially significant drug interactions</span></li>
	<li><span class="list_grey">DOVATO is a complete regimen. Coadministration with other antiretroviral medications for the treatment of HIV-1 infection is not recommended</span></li>
	<li><span class="list_grey">Drugs that induce or inhibit CYP3A or UGT1A1 may affect the plasma concentrations of dolutegravir</span></li>
	<li><span class="list_grey">When coadministering DOVATO with carbamazepine or rifampin, take an additional TIVICAY (dolutegravir) 50-mg tablet, approximately<br>12 hours from the dose of DOVATO</span></li>
	<li><span class="list_grey">Administer DOVATO 2 hours before or 6 hours after taking polyvalent cation-containing antacids or laxatives, sucralfate, oral supplements containing iron or calcium, or buffered medications. Alternatively, DOVATO and supplements containing calcium or iron can be taken&nbsp;with&nbsp;food</span></li>
</ul>
<h3 class="isi-footer-heading">USE IN SPECIFIC POPULATIONS</h3>
<ul>
	<li><span class="list_grey"><span class="immune-recon">Pregnancy:</span> There are insufficient human data on the use of DOVATO during pregnancy to definitively assess a drug-associated risk for birth defects and miscarriage. An Antiretroviral Pregnancy Registry 
		has been established. If planning a pregnancy or if pregnancy is confirmed while taking DOVATO during the first trimester, assess the risks and benefits of continuing DOVATO versus switching to another antiretroviral regimen. For individuals actively trying to become pregnant, initiation of DOVATO is not recommended unless there is no suitable alternative</span></li>
	<li><span class="list_grey"><span class="immune-recon">Lactation:</span> Breastfeeding is not recommended due to the potential for HIV-1 transmission, developing viral resistance in HIV-positive infants, and adverse reactions in a breastfed infant</span></li>
	<li><span class="list_grey"><span class="immune-recon">Females and Males of Reproductive Potential:</span> Perform pregnancy testing before initiation of DOVATO. Advise individuals of childbearing potential to consistently use effective contraception while taking DOVATO</span></li>
	<li><span class="list_grey"><span class="immune-recon">Renal Impairment:</span> DOVATO is not recommended for patients with creatinine clearance &lt;50 mL/min</span></li>
</ul>
<p class="footer-text-bold">Please see full <span class="gotoSlide" data-slide="USPI-DOVATO-PI-PIL" data-presentation="USPI-DOVATO-PI-PIL">Prescribing Information</span>, including Boxed Warning, for DOVATO.</p>
<p>Trademarks are owned by or licensed to the ViiV Healthcare group of companies.<br>©2019 ViiV Healthcare or licensor.<br>DLLDTLA190008&nbsp;&nbsp;&nbsp;December 2019&nbsp;&nbsp;&nbsp;Produced in USA.</p>
</div>