


            <div class="pop-tabs">

                <div class="pop-tabs__header">RESULTS BY BASELINE CD4<sup>+</sup> T-cell COUNT</div>
                <div class="top-menu">
                    <div class="top-menu__item active" id="pop-tabs_1_button">Subgroup Analysis</div>
                    <div class="top-menu__item inactive" id="pop-tabs_2_button">Nonresponse Data</div>
                </div>
                <!-- Popup tab 1 -->
                <div class="pop-tab pop-tab-1 active">
                  <div class="chart_subhead_plum text-center pt-small pb-small">GEMINI 1 & 2 Pooled Analysis&mdash;Virologic Response by CD4<sup>+</sup> T-Cell Count at Week 96<sup>1,2</sup></div>
                  <div class="two-column">

                    <div class="text-center pt">
                      <!-- left side svg -->
                      <svg id="Layer_2" title="d3_km008_chart_t-cell_count" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50%" height="" viewBox="0 0 618.3 813.63">
                        <title>CD4_left</title>
                        <polyline points="116.29 73.63 116.29 34.81 602.87 34.81 602.87 73.63" style="fill: none;stroke: #ea1c75;stroke-miterlimit: 10;stroke-width: 0.96418822020091px"/>
                        <text transform="translate(316.59 166.69)" style="font-size: 29.99393081665039px;fill: #ea1b75;font-family: OpenSans, Open Sans">%</text>
                        <polygon points="340.57 209.34 340.57 727.99 325.55 727.99 325.55 195.35 340.57 209.34" style="fill: #8e1d58"/>
                        <g>
                          <text transform="translate(253.62 179.8)" style="font-size: 57.164058685302734px;fill: #ea1b75;font-family: OpenSans-Bold, Open Sans;font-weight: 700;letter-spacing: -0.018996857902939663em">88</text>
                          <rect x="237.27" y="195.33" width="88.28" height="532.63" style="fill: #ea1b75"/>
                          <text transform="translate(231.17 773.73)" style="font-size: 26.900590896606445px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600;letter-spacing: -0.01001952897748435em">DOVATO<tspan style="letter-spacing: -0.00998322633626158em"><tspan x="8.28" y="32.28">(n=653)</tspan></tspan></text>
                        </g>
                        <g>
                          <g>
                            <text transform="translate(479.89 153.69)" style="font-size: 29.99393081665039px;fill: #929497;font-family: OpenSans">%</text>
                            <text transform="translate(416.91 170.82)" style="font-size: 57.164058685302734px;fill: #929497;font-family: OpenSans-Bold;font-weight: 700;letter-spacing: -0.018996857902939663em">9<tspan x="31.54" y="0" style="letter-spacing: 0.000017083505308398977em">0</tspan></text>
                          </g>
                          <rect x="400.57" y="183.94" width="88.28" height="544.05" style="fill: #d0d2d3"/>
                          <polygon points="503.86 198.22 503.86 727.99 488.85 727.99 488.85 183.94 503.86 198.22" style="fill: #b1b3b5"/>
                          <text transform="translate(361.36 773.76)" style="font-size: 26.900590896606445px;fill: #231f20;font-family: OpenSans-Semibold;font-weight: 600;letter-spacing: -0.01001952897748435em">DTG + TDF/FTC <tspan style="letter-spacing: -0.00998322633626158em"><tspan x="49.88" y="32.28">(n=662)</tspan></tspan></text>
                        </g>
                        <path d="M562.45,2.6H156.07c-7,0-12.54,3.18-12.54,8V72.13c0,4.78,5.56,9.36,12.54,9.36H562.45c7,0,10.89-4.58,10.89-9.36V10.55C573.34,5.78,569.42,2.6,562.45,2.6Z" style="fill: #ffeae9;stroke: #f2f2f2;stroke-miterlimit: 10;stroke-width: 0.9372814554709847px"/>
                        <text transform="translate(150.12 54.22)" style="font-size: 34.73033905029297px;fill: #414042;font-family: OpenSans-Semibold, Open Sans;font-weight: 600;letter-spacing: -0.010010159978471829em">&gt;200 cells/mm</text>
                        <text transform="translate(387.36 42.65) scale(0.58)" style="font-size: 34.73033905029297px;fill: #414042;font-family: OpenSans-Semibold, Open Sans;font-weight: 600;letter-spacing: -0.009983729548300459em">3</text>
                        <text transform="translate(398.71 54.22)" style="font-size: 34.73033905029297px;fill: #414042;font-family: OpenSans-Semibold, Open Sans;font-weight: 600;letter-spacing: -0.00998204155156601em"><tspan xml:space="preserve"> subgroup</tspan></text>
                        <text transform="translate(54.17 141.25)" style="font-size: 28px;fill: #231f20;font-family: OpenSans-Semibold, OpenSans-Regular;font-weight: 600"><tspan style="letter-spacing: -0.008998325892857142em">10</tspan><tspan x="31.46" y="0">0</tspan></text>
                        <text transform="translate(69.29 259.6)" style="font-size: 28px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600"><tspan style="letter-spacing: -0.008998325892857142em">8</tspan><tspan x="15.73" y="0">0</tspan></text>
                        <text transform="translate(69.29 379.61)" style="font-size: 28px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600"><tspan style="letter-spacing: -0.008998325892857142em">6</tspan><tspan x="15.73" y="0">0</tspan></text>
                        <text transform="translate(69.29 499.28)" style="font-size: 28px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600"><tspan style="letter-spacing: -0.008998325892857142em">4</tspan><tspan x="15.73" y="0">0</tspan></text>
                        <text transform="translate(69.29 619.96)" style="font-size: 28px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600"><tspan style="letter-spacing: -0.008998325892857142em">2</tspan><tspan x="15.73" y="0">0</tspan></text>
                        <text transform="translate(84.41 738.29)" style="font-size: 28px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600">0</text>
                        <line x1="107.38" y1="249.58" x2="116.29" y2="249.58" style="fill: none;stroke: #929497;stroke-miterlimit: 10"/>
                        <line x1="107.38" y1="369.51" x2="116.29" y2="369.51" style="fill: none;stroke: #929497;stroke-miterlimit: 10"/>
                        <line x1="107.38" y1="489.1" x2="116.29" y2="489.1" style="fill: none;stroke: #929497;stroke-miterlimit: 10"/>
                        <line x1="107.38" y1="609.72" x2="116.29" y2="609.72" style="fill: none;stroke: #929497;stroke-miterlimit: 10"/>
                        <line x1="107.38" y1="727.99" x2="116.29" y2="727.99" style="fill: none;stroke: #929497;stroke-miterlimit: 10"/>
                        <text transform="translate(23.05 691.43) rotate(-90)" style="font-size: 26.90060043334961px;fill: #231f20;font-family: OpenSans-Semibold, Open Sans;font-weight: 600;letter-spacing: -0.009983322765833993em">Patients With HIV-1 RNA &lt;50 copies/mL, %</text>
                        <polyline points="107.38 130.84 116.29 130.84 116.29 727.99 602.87 727.99" style="fill: none;stroke: #929497;stroke-miterlimit: 10"/>
                      </svg>
                    <!-- END LEFT SVG-->

                  </div>
                  <div class="text-center pt">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50%" viewBox="0 0 603.32 820">
  <title>CD4_right</title>
  <!-- points="
    116.29,66.71 
    116.29,33.2 
    602.87,33.2 
    602.87,66.71 
    
    "/> -->
<polyline fill="none" stroke="#EA1C75" stroke-width="0.8959" stroke-miterlimit="10" 
    points="
    116.29,66.71 
    116.29,33.2 
    601.87,33.2 
    601.87,66.71 
    "/>
<text transform="matrix(1 0 0 1 54.1694 141.891)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">10</tspan><tspan x="31.46" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">0</tspan></text>
<text transform="matrix(1 0 0 1 69.2886 260.2335)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">8</tspan><tspan x="15.73" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">0</tspan></text>
<text transform="matrix(1 0 0 1 69.2886 380.2426)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">6</tspan><tspan x="15.73" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">0</tspan></text>
<text transform="matrix(1 0 0 1 69.2886 499.9145)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">4</tspan><tspan x="15.73" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">0</tspan></text>
<text transform="matrix(1 0 0 1 69.2886 620.5922)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">2</tspan><tspan x="15.73" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">0</tspan></text>
<text transform="matrix(1 0 0 1 84.4077 738.9308)" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="28px">0</text>
<line fill="none" stroke="#929497" stroke-miterlimit="10" x1="107.38" y1="250.21" x2="116.29" y2="250.21"/>
<line fill="none" stroke="#929497" stroke-miterlimit="10" x1="107.38" y1="370.14" x2="116.29" y2="370.14"/>
<line fill="none" stroke="#929497" stroke-miterlimit="10" x1="107.38" y1="489.74" x2="116.29" y2="489.74"/>
<line fill="none" stroke="#929497" stroke-miterlimit="10" x1="107.38" y1="610.36" x2="116.29" y2="610.36"/>
<line fill="none" stroke="#929497" stroke-miterlimit="10" x1="107.38" y1="728.62" x2="116.29" y2="728.62"/>
<g>
	<rect x="236.29" y="322.62" fill="#EA1B75" width="88.28" height="406.35"/>
	<polygon fill="#8E1D58" points="339.58,335.21 339.58,728.97 324.57,728.97 324.57,322.63 	"/>
	<g>

			<text transform="matrix(1 0 0 1 248.9398 306.3219)" fill="#EA1B75" font-family="'OpenSans-Bold'" font-size="57.1641px" letter-spacing="-1">68</text>
		<text transform="matrix(1 0 0 1 311.9106 289.193)" fill="#EA1B75" font-family="'OpenSans'" font-size="29.9939px">%</text>
	</g>
	<text transform="matrix(1 0 0 1 225.1821 774.744)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="26.9006px">DOVATO</tspan><tspan x="15.82" y="32.28" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="26.9006px">(n=63)</tspan></text>
</g>
<path fill="#FFEAE9" stroke="#F2F2F2" stroke-width="0.9422" stroke-miterlimit="10" d="M564.52,0.47H156.07
	c-7.01,0-12.71,3.27-12.71,8.17v63.23c0,4.9,5.7,9.6,12.71,9.6h183.61h41.22h183.61c7.01,0,10.84-4.7,10.84-9.6V8.64
	C575.36,3.74,571.54,0.47,564.52,0.47z"/>
<text transform="matrix(1 0 0 1 152.8306 53.5024)" fill="#414042" font-family="'OpenSans-Semibold'" font-size="34.7303px">≤200 cells/mm</text>
<text transform="matrix(0.583 0 0 0.583 390.0713 41.9369)" fill="#414042" font-family="'OpenSans-Semibold'" font-size="34.7303px">3</text>
<text transform="matrix(1 0 0 1 401.4263 53.5024)" fill="#414042" font-family="'OpenSans-Semibold'" font-size="34.7303px"> subgroup</text>
<g>
	<g>
		<text transform="matrix(1 0 0 1 475.2046 155.6723)" fill="#929497" font-family="'OpenSans'" font-size="29.9939px">%</text>
			<text transform="matrix(1 0 0 1 412.2319 172.8051)" fill="#929497" font-family="'OpenSans-Bold'" font-size="57.1641px" letter-spacing="-1">87</text>
	</g>
	<rect x="399.58" y="189.97" fill="#D0D2D3" width="88.28" height="539"/>
	<polygon fill="#B1B3B5" points="502.87,204.12 502.87,728.97 487.86,728.97 487.86,189.97 	"/>
	<text transform="matrix(1 0 0 1 351.2344 774.744)"><tspan x="0" y="0" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="26.9006px">DTG + TDF/FTC</tspan><tspan x="54.06" y="32.28" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="26.9006px">(n=55)</tspan></text>
</g>
<g>
	<text transform="matrix(0 -1 1 0 23.0522 692.0629)" fill="#231F20" font-family="'OpenSans-Semibold'" font-size="26.9006px">Patients with HIV-1 RNA &lt;50 copies/mL, %</text>
</g>
<polyline fill="none" stroke="#929497" stroke-miterlimit="10" points="107.38,131.47 116.29,131.47 116.29,728.62 602.87,728.62
	"/>
</svg>

                  </div>
                </div>

                <div class="three-quarters">
                  <div>
                      <div class="body_text">Subgroup analysis by baseline CD4<sup>+</sup> T-cell count was a prespecified secondary endpoint, ITT&ndash;E population.</div>
                      <div class="body_text"><span>References: 1.</span>  Cahn P, Madero JS, Arribas JR, et al. Durable efficacy of dolutegravir (DTG) plus lamivudine (3TC) in antiretroviral treatment–naive adults with HIV-1 infection: 96-week results from the GEMINI studies. Presented at the 10th International AIDS Society (IAS) Conference on HIV Science; July 21-24, 2019; Mexico City, Mexico. Slides WEAB0404LB. <span>2.</span> Data on file. ViiV Healthcare group of companies. Research Triangle Park, NC.</div><br>
                      <div class="body_text">DTG=dolutegravir; FTC=emtricitabine; ITT&ndash;E=intent-to-treat&ndash;exposed; TDF=tenofovir disoproxil fumarate.</div>
                    </div>

                  </div>
                </div>

                <!-- Popup tab 2 -->
                <div class="pop-tab pop-tab-2">
                  <div class="chart_subhead_plum text-center pt-small pb-small"><span>GEMINI 1 & 2 Pooled Analysis&mdash;Reasons for Snapshot Nonresponse by Baseline CD4<sup>+</sup> T-Cell Count at Week 96<sup>1</sup></div>

                  <svg id="Layer_25" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 2144 830.73">
                    <defs>
                      <style>
                        #Layer_25 .cls-1,
                        #Layer_25 .cls-10,
                        #Layer_25 .cls-11,
                        #Layer_25 .cls-13,
                        #Layer_25 .cls-14,
                        #Layer_25 .cls-16,
                        #Layer_25 .cls-17,
                        #Layer_25 .cls-3,
                        #Layer_25 .cls-4,
                        #Layer_25 .cls-5,
                        #Layer_25 .cls-6,
                        #Layer_25 .cls-7,
                        #Layer_25 .cls-8,
                        #Layer_25 .cls-9 {
                          fill: none;
                        }

                        #Layer_25 .cls-2 {
                          clip-path: url(#clip-path);
                        }

                        #Layer_25 .cls-3 {
                          stroke: #fff;
                        }

                        #Layer_25 .cls-10,
                        #Layer_25 .cls-11,
                        #Layer_25 .cls-13,
                        #Layer_25 .cls-14,
                        #Layer_25 .cls-16,
                        #Layer_25 .cls-17,
                        #Layer_25 .cls-3,
                        #Layer_25 .cls-4,
                        #Layer_25 .cls-5,
                        #Layer_25 .cls-6,
                        #Layer_25 .cls-7,
                        #Layer_25 .cls-8,
                        #Layer_25 .cls-9 {
                          stroke-miterlimit: 10;
                        }

                        #Layer_25 .cls-10,
                        #Layer_25 .cls-11,
                        #Layer_25 .cls-13,
                        #Layer_25 .cls-14,
                        #Layer_25 .cls-16,
                        #Layer_25 .cls-4,
                        #Layer_25 .cls-5,
                        #Layer_25 .cls-6,
                        #Layer_25 .cls-7,
                        #Layer_25 .cls-8,
                        #Layer_25 .cls-9 {
                          stroke: #929497;
                        }

                        #Layer_25 .cls-4 {
                          stroke-dasharray: 3 2;
                        }

                        #Layer_25 .cls-6 {
                          stroke-width: 0.89px;
                          stroke-dasharray: 2.68 1.79;
                        }

                        #Layer_25 .cls-7 {
                          stroke-dasharray: 3 2;
                        }

                        #Layer_25 .cls-8 {
                          stroke-dasharray: 3.01 2.01;
                        }

                        #Layer_25 .cls-9 {
                          stroke-dasharray: 2.93 1.93;
                        }

                        #Layer_25 .cls-10 {
                          stroke-width: 0.95px;
                          stroke-dasharray: 2.85 1.9;
                        }

                        #Layer_25 .cls-11 {
                          stroke-width: 1.17px;
                          stroke-dasharray: 3.52 2.35;
                        }

                        #Layer_25 .cls-12 {
                          clip-path: url(#clip-path-27);
                        }

                        #Layer_25 .cls-13 {
                          stroke-width: 0.85px;
                          stroke-dasharray: 2.55 1.7;
                        }

                        #Layer_25 .cls-14 {
                          stroke-width: 0.96px;
                        }

                        #Layer_25 .cls-15 {
                          clip-path: url(#clip-path-28);
                        }

                        #Layer_25 .cls-16 {
                          stroke-width: 0.95px;
                        }

                        #Layer_25 .cls-17 {
                          stroke: #bbbdbf;
                        }

                        #Layer_25 .cls-18,
                        #Layer_25 .cls-21,
                        #Layer_25 .cls-29,
                        #Layer_25 .cls-30 {
                          font-size: 35px;
                        }

                        #Layer_25 .cls-18,
                        #Layer_25 .cls-24,
                        #Layer_25 .cls-30 {
                          fill: #404041;
                        }

                        #Layer_25 .cls-18,
                        #Layer_25 .cls-21,
                        #Layer_25 .cls-22,
                        #Layer_25 .cls-23 {
                          font-family: OpenSans-Regular;
                        }

                        #Layer_25 .cls-19,
                        #Layer_25 .cls-20,
                        #Layer_25 .cls-22,
                        #Layer_25 .cls-23 {
                          font-size: 34px;
                        }

                        #Layer_25 .cls-19,
                        #Layer_25 .cls-21,
                        #Layer_25 .cls-22,
                        #Layer_25 .cls-23,
                        #Layer_25 .cls-27 {
                          fill: #ea1b75;
                        }

                        #Layer_25 .cls-19,
                        #Layer_25 .cls-20,
                        #Layer_25 .cls-24,
                        #Layer_25 .cls-29,
                        #Layer_25 .cls-30 {
                          font-family: OpenSans-Bold;
                          font-weight: 700;
                        }

                        #Layer_25 .cls-20 {
                          fill: #929497;
                        }

                        #Layer_25 .cls-23 {
                          letter-spacing: -0.1em;
                        }

                        #Layer_25 .cls-24 {
                          font-size: 30px;
                        }

                        #Layer_25 .cls-25 {
                          fill: #d0d2d3;
                        }

                        #Layer_25 .cls-26 {
                          fill: #b1b3b5;
                        }

                        #Layer_25 .cls-28 {
                          fill: #9c004d;
                        }

                        #Layer_25 .cls-29 {
                          fill: #fff;
                        }
                      </style>
                      <clipPath id="clip-path">
                        <rect class="cls-1" width="2127" height="830.73" />
                      </clipPath>
                      <clipPath id="clip-path-27">
                        <rect class="cls-1" y="70" width="2120.61" height="752.73" />
                      </clipPath>
                      <clipPath id="clip-path-28">
                        <rect class="cls-1" y="78.01" width="2127" height="752.72" />
                      </clipPath>
                    </defs>
                    <title>Artboard 1</title>
                    <g class="cls-2">
                      <line class="cls-3" y1="168.73" x2="1046.5" y2="168.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="246.73" x2="1569.5" y2="246.73" />
                    <line class="cls-3" x1="1569.5" y1="246.73" x2="1603.5" y2="246.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="168.73" x2="2144" y2="168.73" />
                      <line class="cls-3" y1="241.73" x2="1046.5" y2="241.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="319.73" x2="1569.5" y2="319.73" />
                    <line class="cls-3" x1="1569.5" y1="319.73" x2="1603.5" y2="319.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="241.73" x2="2144" y2="241.73" />
                      <line class="cls-3" y1="314.73" x2="1046.5" y2="314.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="392.73" x2="1569.5" y2="392.73" />
                    <line class="cls-3" x1="1569.5" y1="392.73" x2="1603.5" y2="392.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="314.73" x2="2144" y2="314.73" />
                      <line class="cls-3" y1="387.73" x2="1046.5" y2="387.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="465.73" x2="1569.5" y2="465.73" />
                    <line class="cls-3" x1="1569.5" y1="465.73" x2="1603.5" y2="465.73" />
                    <g class="cls-2">
                      <line class="cls-3" y1="460.73" x2="1046.5" y2="460.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="538.73" x2="1569.5" y2="538.73" />
                    <line class="cls-3" x1="1569.5" y1="538.73" x2="1603.5" y2="538.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="460.73" x2="2144" y2="460.73" />
                      <line class="cls-3" y1="533.73" x2="1046.5" y2="533.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="611.73" x2="1569.5" y2="611.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="533.73" x2="2144" y2="533.73" />
                      <line class="cls-3" y1="606.73" x2="1046.5" y2="606.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="684.73" x2="1569.5" y2="684.73" />
                    <line class="cls-3" x1="1569.5" y1="684.73" x2="1603.5" y2="684.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="606.73" x2="2144" y2="606.73" />
                      <line class="cls-3" y1="679.73" x2="1046.5" y2="679.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="679.73" x2="1569.5" y2="679.73" />
                    <line class="cls-3" x1="1569.5" y1="675.73" x2="1603.5" y2="675.73" />
                    <g class="cls-2">
                      <line class="cls-3" x1="1604.5" y1="679.73" x2="2144" y2="679.73" />
                      <line class="cls-3" y1="752.73" x2="1046.5" y2="752.73" />
                    </g>
                    <line class="cls-3" x1="1047.5" y1="752.73" x2="1569.5" y2="752.73" />
                    <line class="cls-3" x1="1569.5" y1="752.73" x2="1603.5" y2="752.73" />
                    <line class="cls-4" x1="3.51" y1="242.73" x2="1044" y2="242.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,168.73h1.5M0,168.73H1.5" />
                    </g>
                    <line class="cls-6" x1="1051.01" y1="241.73" x2="1603.5" y2="241.73" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1608" y1="168.73" x2="2141.5" y2="168.73" />
                      <path class="cls-5" d="M2142.5,168.73h1.5m-539.5,0h1.5" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="319.73" x2="1044" y2="319.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,241.73h1.5M0,241.73H1.5" />
                    </g>
                    <line class="cls-8" x1="1051.01" y1="319.73" x2="1566.99" y2="319.73" />
                    <path class="cls-5" d="M1568,319.73h1.51m-522,0h1.5" />
                    <line class="cls-9" x1="1572.89" y1="319.73" x2="1601.07" y2="319.73" />
                    <path class="cls-5" d="M1602,319.73h1.46m-34,0H1571" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1608" y1="241.73" x2="2141.5" y2="241.73" />
                      <path class="cls-5" d="M2142.5,241.73h1.5m-539.5,0h1.5" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="392.73" x2="1044" y2="392.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,314.73h1.5M0,314.73H1.5" />
                    </g>
                    <line class="cls-8" x1="1051.01" y1="392.73" x2="1566.99" y2="392.73" />
                    <path class="cls-5" d="M1568,392.73h1.51m-522,0h1.5" />
                    <line class="cls-9" x1="1572.89" y1="392.73" x2="1601.07" y2="392.73" />
                    <path class="cls-5" d="M1602,392.73h1.46m-34,0H1571" />
                    <g class="cls-2">
                      <line class="cls-10" x1="1604.5" y1="319.73" x2="2141.5" y2="319.73" />
                      <path class="cls-5" d="M2142.5,314.73h1.5m-539.5,0" />
                      <line class="cls-5" x1="1636.61" y1="276.12" x2="1637" y2="276.12" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="465.73" x2="1044" y2="465.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,387.73h1.5M0,387.73H1.5" />
                    </g>
                    <line class="cls-8" x1="1051.01" y1="465.73" x2="1566.99" y2="465.73" />
                    <path class="cls-5" d="M1568,465.73h1.51m-522,0h1.5" />
                    <line class="cls-9" x1="1572.89" y1="465.73" x2="1601.07" y2="465.73" />
                    <path class="cls-5" d="M1602,465.73h1.46m-34,0H1571" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1604" y1="392.73" x2="2141.5" y2="392.73" />
                      <path class="cls-5" d="M2142.5,387.73h1.5m-539.5,0" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="538.73" x2="1044" y2="538.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,460.73h1.5M0,460.73H1.5" />
                    </g>
                    <line class="cls-8" x1="1051.01" y1="538.73" x2="1566.99" y2="538.73" />
                    <path class="cls-5" d="M1568,538.73h1.51m-522,0h1.5" />
                    <line class="cls-9" x1="1572.89" y1="538.73" x2="1601.07" y2="538.73" />
                    <path class="cls-5" d="M1602,538.73h1.46m-34,0H1571" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1604" y1="465.73" x2="2141.5" y2="465.73" />
                      <path class="cls-5" d="M2142.5,460.73h1.5m-539.5,0" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="611.73" x2="1044" y2="611.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,533.73h1.5M0,533.73H1.5" />
                    </g>
                    <line class="cls-11" x1="1038.3" y1="611.73" x2="1604" y2="611.73" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1603.5" y1="538.73" x2="2141.5" y2="538.73" />
                      <path class="cls-5" d="M2142.5,533.73h1.5m-539.5,0" />
                    </g>
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,606.73h1.5M0,606.73H1.5" />
                    </g>
                    <line class="cls-9" x1="1572.89" y1="679.73" x2="1601.07" y2="679.73" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1604" y1="607.73" x2="2141.5" y2="607.73" />
                      <path class="cls-5" d="M2142.5,606.73h1.5m-539.5,0h1.5" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="679.73" x2="1044" y2="679.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,679.73h1.5M0,679.73H1.5" />
                    </g>
                    <line class="cls-8" x1="1051.01" y1="679.73" x2="1566.99" y2="679.73" />
                    <path class="cls-5" d="M1568,679.73h1.51m-522,0h1.5" />
                    <path class="cls-5" d="M1602,679.73h1.46m-34,0H1571" />
                    <g class="cls-2">
                      <line class="cls-7" x1="1608" y1="679.73" x2="2141.5" y2="679.73" />
                      <path class="cls-5" d="M2142.5,679.73h1.5m-539.5,0h1.5" />
                    </g>
                    <line class="cls-4" x1="3.51" y1="752.73" x2="1044" y2="752.73" />
                    <g class="cls-2">
                      <path class="cls-5" d="M1045,752.73h1.5M0,752.73H1.5" />
                    </g>
                    <line class="cls-8" x1="1051.01" y1="752.73" x2="1566.99" y2="752.73" />
                    <path class="cls-5" d="M1568,752.73h1.51m-522,0h1.5" />
                    <line class="cls-9" x1="1572.89" y1="752.73" x2="1601.07" y2="752.73" />
                    <path class="cls-5" d="M1602,752.73h1.46m-34,0H1571" />
                    <g class="cls-12">
                      <line class="cls-13" x1="1603.16" y1="753.05" x2="2132.39" y2="753.05" />
                      <line class="cls-14" y1="825.2" x2="1047" y2="825.2" />
                    </g>
                    <line class="cls-5" y1="825.73" x2="1569.5" y2="825.73" />
                    <line class="cls-5" x1="1569.5" y1="825.73" x2="1604" y2="825.73" />
                    <g class="cls-15">
                      <line class="cls-16" x1="1604" y1="826.2" x2="2144" y2="826.2" />
                    </g>
                    <line class="cls-17" x1="1047" y1="246.73" x2="1047" y2="171.73" />
                    <line class="cls-17" x1="1047" y1="319.73" x2="1047" y2="246.73" />
                    <line class="cls-17" x1="1047" y1="392.73" x2="1047" y2="319.73" />
                    <line class="cls-17" x1="1047" y1="465.73" x2="1047" y2="392.73" />
                    <line class="cls-17" x1="1047" y1="538.73" x2="1047" y2="465.73" />
                    <line class="cls-17" x1="1047" y1="611.73" x2="1047" y2="538.73" />
                    <line class="cls-17" x1="1047" y1="684.73" x2="1047" y2="611.73" />
                    <line class="cls-17" x1="1047" y1="679.73" x2="1047" y2="606.73" />
                    <line class="cls-17" x1="1047" y1="752.73" x2="1047" y2="679.73" />
                    <line class="cls-17" x1="1047" y1="825.23" x2="1047" y2="752.73" />
                    <line class="cls-17" x1="1604" y1="246.73" x2="1604" y2="171.73" />
                    <line class="cls-17" x1="1604" y1="319.73" x2="1604" y2="246.73" />
                    <line class="cls-17" x1="1604" y1="392.73" x2="1604" y2="319.73" />
                    <line class="cls-17" x1="1604" y1="465.73" x2="1604" y2="392.73" />
                    <line class="cls-17" x1="1604" y1="538.73" x2="1604" y2="465.73" />
                    <line class="cls-17" x1="1604" y1="611.73" x2="1604" y2="538.73" />
                    <line class="cls-17" x1="1604" y1="684.73" x2="1604" y2="611.73" />
                    <line class="cls-17" x1="1604" y1="679.73" x2="1604" y2="606.73" />
                    <line class="cls-17" x1="1604" y1="752.73" x2="1604" y2="679.73" />
                    <line class="cls-17" x1="1604" y1="825.23" x2="1604" y2="752.73" /><text class="cls-18"
                      transform="translate(4 222.62)">Confirmed virologic withdrawal</text><text class="cls-18"
                      transform="translate(512.68 210.96) scale(0.58)">*</text><text class="cls-19"
                      transform="translate(1298.55 222.23)">3</text><text class="cls-20"
                      transform="translate(1864.31 222.23)">1</text><text class="cls-18" transform="translate(4 296.62)">HIV-1 RNA ≥50
                      copies/mL</text><text class="cls-18" transform="translate(417.18 284.96) scale(0.58)">†</text><text class="cls-19"
                      transform="translate(1298.55 296.23)">2</text><text class="cls-20"
                      transform="translate(1864.31 296.23)">0</text><text class="cls-18" transform="translate(4 369.62)">Discontinued due
                      to AE</text><text class="cls-19" transform="translate(1298.55 369.23)">3</text><text class="cls-21"
                      transform="translate(1317.95 357.58) scale(0.58)">‡</text><text class="cls-20"
                      transform="translate(1864.31 369.23)">0</text><text class="cls-19"
                      transform="translate(1298.55 442.23)">2</text><text class="cls-20"
                      transform="translate(1864.31 442.23)">1</text><text class="cls-19"
                      transform="translate(1298.55 515.23)">3</text><text class="cls-20"
                      transform="translate(1864.31 515.23)">3</text><text class="cls-18" transform="translate(4 588.62)">Withdrew
                      consent</text><text class="cls-19" transform="translate(1298.55 588.23)">4</text><text class="cls-20"
                      transform="translate(1864.31 588.23)">1</text><text class="cls-18" transform="translate(4 656.62)">Unplanned change
                      in ART</text><text class="cls-19" transform="translate(1298.55 656.23)">1</text><text class="cls-22"
                      transform="translate(1317.95 644.91) scale(0.58)">§</text><text class="cls-20"
                      transform="translate(1864.31 656.23)">0</text><text class="cls-18" transform="translate(4 729.62)">Investigator
                      discretion</text><text class="cls-19" transform="translate(1298.55 729.23)">1</text><text class="cls-23"
                      transform="translate(1317.95 717.91) scale(0.58)">II</text><text class="cls-20"
                      transform="translate(1864.31 729.23)">1</text><text class="cls-20"
                      transform="translate(1883.71 717.91) scale(0.58)">§</text><text class="cls-24" transform="translate(4 800.7)">Total, n</text><text class="cls-19" transform="translate(1288.84 802.23)">20</text><text class="cls-20"
                      transform="translate(1864.29 802.23)">7</text>
                    <rect class="cls-25" x="1603.5" y="78.01" width="495.49" height="91.45" />
                    <polygon class="cls-26" points="2098.99 78 2098.99 169.45 2120.61 153.03 2120.61 99.81 2098.99 78" />
                    <rect class="cls-27" x="1046.5" y="78.01" width="500.66" height="91.45" />
                    <polygon class="cls-28" points="1547.16 78 1547.16 169.45 1569 153.03 1569 99.81 1547.16 78" /><text class="cls-29"
                      transform="translate(1169.32 137.12)">
                      <tspan xml:space="preserve">DOVATO (n=63)</tspan>
                    </text><text class="cls-30" transform="translate(1668.94 137.12)">
                      <tspan xml:space="preserve">DTG + TDF/FTC (n=55)</tspan>
                    </text><text class="cls-18" transform="translate(5 515.62)">Lost to follow-up</text><text class="cls-18"
                      transform="translate(5 442.62)">Protocol violations</text>
                  </svg>


                  <div class="chart_footnotes">
                      <span><span class="hang-foot">*</span>Defined as either virologic nonresponse (a decrease in plasma HIV-1 RNA of &lt;1 log<sub>10</sub> copies/mL by Week 12, with subsequent confirmation, unless plasma HIV-1 RNA is &lt;200 copies/mL or confirmed plasma HIV-1 RNA levels ≥200 copies/mL on or after Week 24) or virologic rebound (confirmed rebound in plasma HIV-1 RNA levels to ≥200 copies/mL after prior confirmed suppression to &lt;200 copies/mL). <sup>&dagger;</sup>One patient total resuppressed (in the DOVATO arm).</span>
                      <span><sup>&Dagger;</sup>Two non-drug-related (1 tuberculosis and 1 cerebral chagoma); 1 worsening of fatigue, anxiety, and irritability. <sup>&sect;</sup>Incarceration. <sup>II</sup>Withdrew to start HCV treatment.</span>

                    </div>
                    <div class="body_text"><span>Reference: 1.</span> Data on file. ViiV Healthcare group of companies. Research Triangle Park, NC.</div>
                    <div class="chart_footnotes">AE=adverse event; ART=antiretroviral therapy; DTG=dolutegravir; FTC=emtricitabine; HCV=hepatitis C virus; TDF=tenofovir disoproxil fumarate.</div>

                  </div>

            </div>

          <!-- End dialog no response -->
