
<!-- TIVICAY ISI -->
<div id="tivicay-isi-dialogBody" class="dialogBody scrollableInner">

    <h3 class="isi-footer-heading tivicay-isi-header">Important Safety Information for TIVICAY</h3>
    <br>

	<h3 class="isi-footer-heading main-sub-head">CONTRAINDICATIONS</h3>
    <ul>
	    <li><span class="list_grey">Do not use TIVICAY in patients with previous hypersensitivity reaction to dolutegravir</span></li>
	    <li><span class="list_grey">Do not use TIVICAY in patients receiving dofetilide</span></li>
    </ul>
    <h3 class="isi-footer-heading main-sub-head">WARNINGS AND PRECAUTIONS</h3>
    <h3 class="isi-footer-heading main-sub-head">Hypersensitivity Reactions:</h3>
    <ul>
        <li><span class="list_grey">Hypersensitivity reactions have been reported with dolutegravir and were characterized by rash, constitutional findings, and sometimes organ dysfunction, including liver injury</span></li>
        <li><span class="list_grey">Discontinue TIVICAY immediately if signs or symptoms of hypersensitivity reaction develop, as a delay in stopping treatment may result in a life-threatening reaction. Clinical status, including liver aminotransferases, should be monitored and appropriate therapy initiated</span></li>
    </ul>
    <h3 class="isi-footer-heading main-sub-head">Hepatotoxicity:</h3>
    <ul>
        <li><span class="list_grey">Hepatic adverse events have been reported, including cases of hepatic toxicity (elevated serum liver biochemistries, hepatitis, and acute liver failure) in patients receiving a dolutegravir-containing regimen without pre-existing hepatic disease or other identifiable risk factors</span></li>
        <li><span class="list_grey">Patients with underlying hepatitis B or C or marked elevations in transaminases prior to treatment may be at increased risk for worsening or development of transaminase elevations with use of TIVICAY. In some cases the elevations in transaminases were consistent with immune reconstitution syndrome or hepatitis B reactivation, particularly in the setting where anti-hepatitis therapy was withdrawn</span></li>
        <li><span class="list_grey">Monitoring for hepatotoxicity is recommended</span></li>
    </ul>
    <h3 class="isi-footer-heading main-sub-head">Embryofetal Toxicity:</h3>
    <ul>
        <li><span class="list_grey">Alternative treatments to TIVICAY should be considered at the time of conception through the first trimester of pregnancy due to the risk of neural tube defects</span></li>
        <li><span class="list_grey">Perform pregnancy testing before use of TIVICAY and counsel that consistent use of effective contraception is recommended while using TIVICAY in adolescents and adults of childbearing potential</span></li>
    </ul>
    <p><span class="footer-text-bold">Risk of Adverse Reactions or Loss of Virologic Response Due to Drug Interactions</span> with concomitant use of TIVICAY and other drugs may result in known or potentially significant drug interactions (see Contraindications or Drug Interactions).</p>
  
    <p><span class="footer-text-bold">Immune Reconstitution Syndrome</span>, including the occurrence of autoimmune disorders with variable time to onset, has been reported with the use of TIVICAY.</p>

    <h3 class="isi-footer-heading main-sub-head">ADVERSE REACTIONS</h3>
    <p>The most common adverse reactions (incidence ≥2%, Grades 2-4) in treatment-naïve adults receiving TIVICAY in a combination regimen were insomnia (3%), headache (2%), and fatigue (2%).</p>
    <h3 class="isi-footer-heading main-sub-head">DRUG INTERACTIONS</h3>

    <ul>
        <li><span class="list_grey">Coadministration of TIVICAY with drugs that induce or inhibit UGT1A1 and/or CYP3A may affect plasma concentrations</span></li>
        <li><span class="list_grey">Administer TIVICAY 2 hours before or 6 hours after taking antacids, polyvalent cation-containing products or laxatives, sucralfate, oral supplements containing iron or calcium, or buffered medications. Alternatively, oral calcium and iron supplements (including multivitamins containing calcium or iron) can be taken with TIVICAY if coadministered with a meal</span></li>
        <li><span class="list_grey">Consult the full Prescribing Information for TIVICAY for more information on potentially significant drug interactions, including clinical comments</span></li>
    </ul>

    <h3 class="isi-footer-heading main-sub-head">USE IN SPECIFIC POPULATIONS</h3>

    <ul>
        <li><span class="list_grey"><span class="footer-text-bold">Pregnancy: </span>There are insufficient human data on the use of TIVICAY during pregnancy to definitively assess a drug-associated risk for birth defects and miscarriage. An Antiretroviral Pregnancy Registry has been established. If planning a pregnancy or if pregnancy is confirmed while taking TIVICAY during the first trimester, assess the risks and benefits of continuing TIVICAY versus switching to another antiretroviral regimen. For individuals actively trying to become pregnant, initiation of TIVICAY is not recommended unless there is no suitable alternative </span></li>
        <li><span class="list_grey"><span class="footer-text-bold">Lactation: </span>Breastfeeding is not recommended due to the potential for HIV-1 transmission, developing viral resistance in HIV-positive infants, and adverse reactions in a breastfed infant</span></li>
        <li><span class="list_grey"><span class="footer-text-bold">Females and Males of Reproductive Potential: </span>Perform pregnancy testing before initiation of TIVICAY. Advise adolescents and adults of childbearing potential to consistently use effective contraception while taking TIVICAY</span></li>
    </ul>

    <p class="footer-text-bold link-text">Please see full <span class="gotoSlide" data-slide="USPI-TIVICAY-PI-PIL" data-presentation="USPI-TIVICAY-PI-PIL">Prescribing Information</span> for TIVICAY.</p>
    <br>
</div>

