
<div class="patient-profiles">
    <div class="patient-profiles__header">Patient Profiles</div>
    <div class="top-menu">
        <div class="top-menu__item" id="profile_1_button">Eric<br><span>26 years old</span></div>
        <div class="top-menu__item" id="profile_2_button">Sebastian<br><span>32 years old</span></div>
    </div>
    <div class="profile_tab profile_tab-reset active">
        <div class="two-column">
            <div class="two-column__left">
                <img class="half-image" src="../shared/media/images/patient-1-small.png">
            </div>
            <div class="two-column__right">
                <img class="half-image" src="../shared/media/images/patient-2-small.png">
            </div>
        </div>
        <div class="patient-profiles__tap">Tap one to continue</div>
        <div class="half-image__disclaimer">Not actual patients.</div>
    </div>
    <div class="profile_tab profile_tab-1">
        <div class="two-column">
            <div class="two-column__right">
                <div class="table">
                    <div class="table__header">Background</div>
                    <div class="table__cell">
                        <div>Baseline viral load</div>
                        <div>375,000 copies/mL</div>
                    </div>
                    <div class="table__cell">
                        <div>CD4<sup>+</sup> T-cell count</div>
                        <div>302 cells/mm<sup>3</sup></div>
                    </div>
                    <div class="table__cell">
                        <div>Resistance</div>
                        <div>No known resistance</div>
                    </div>
                    <div class="table__cell">
                        <div>Hepatitis B</div>
                        <div>Negative</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile_tab__disclaimer">Not an actual patient.</div>
    </div>
        <div class="profile_tab profile_tab-2">
        <div class="two-column">
            <div class="two-column__right">
                <div class="table">
                    <div class="table__header">Background</div>
                    <div class="table__cell">
                        <div>Baseline viral load</div>
                        <div>91,000 copies/mL</div>
                    </div>
                    <div class="table__cell">
                        <div>CD4<sup>+</sup> T-cell count</div>
                        <div>415 cells/mm<sup>3</sup></div>
                    </div>
                    <div class="table__cell">
                        <div>Resistance</div>
                        <div>No known resistance</div>
                    </div>
                    <div class="table__cell">
                        <div>Hepatitis B</div>
                        <div>Negative</div>
                    </div>
                    <div class="table__cell">
                        <div>Additional consideration</div>
                        <div>Family history of cardiovascular disease</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile_tab__disclaimer">Not an actual patient.</div>
    </div>
</div>