
/* Dialogs */
@import 'fonts.scss';

div.ui-widget-overlay {
    width: 1366px;
    height: 1024px;
    opacity: 1;
    background-color: transparent;
}

div.ui-dialog {
    display: none;
    padding: 6px;
    background-color: $light-grey;
 	overflow: hidden;
    -webkit-overflow-scrolling: touch;
    font: 14px/14px HelveticaLight;
    height: 549px !important;
    width: 1301.5px !important;
    top: 110px !important;
    left: 31.5px !important;
}

div.ui-dialog.menu-container {
	width: 243px !important;
	height: 699px !important;
	top: 0 !important;
	border-radius: 0;
	.iScrollVerticalScrollbar {
		display: none;
	}
}

.ui-dialog .ui-dialog-titlebar {
    height: 75px;
    padding: 4px;
    padding-top: 35px;
}

.ui-dialog .ui-titlebar-hidden {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 0;
    height: 0;
    padding: 0;
    overflow: visible;
}

.ui-dialog .ui-dialog-title {
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    color: $dark-purple;
    margin: 73px;
    float: none;
    overflow: visible;
}

.ui-dialog .ui-dialog-content {
    padding: 4px;
    z-index: 5;
    overflow: hidden;
    height: 100% !important;
}

.ui-dialog[aria-describedby="safe-dialog"] {
    background-color: #fdedec !important;
    top: 101px !important;
    left: 31px  !important;
    height: 756px !important;
    width: 1301.5px !important;
    
    padding-left: 79px;
    padding-right: 90.5px;
    padding-top: 71.5px;
    color: #63666a;
    font-family: OpenSans-Regular;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 22.5px;

    #safe-dialog {
        width: 1169px !important;

        #safe-dialog_inner {
            .gotoSlide {
                color: #8b1d58;
                text-decoration: underline;
                @include font-openSans-bold();
            }
         }
     }
      
    .dialogBody {
        padding-right: 44px;
        
    } 
	h1.isi-dialog-header {
		@include font-falina-medium();
		font-size: 32px;
		line-height: 26.5px;
		margin-bottom: 12px;
        color: $darkish-purple;
        border-bottom: dotted 1.5px $darkish-purple;
        padding-bottom: 13px;
		display: block;
	}
	h3 {
		color: #8b1d58;
		@include font-openSans-bold();
		font-size: 17.5px;
        line-height:  22.5px;
        &.subhead {
            color: #3d3d3d;
        }
	}
	p {
        margin-bottom: 10px;
        &.footer-text-bold {
            font-family: OpenSans-Bold;
            font-weight: 700;
            line-height: 22.5px;
        }
        span.immune-recon {
            font-family: OpenSans-Bold;
            color: #3d3d3d;
        }
	}
	ul {
		margin-bottom: 10px;
        list-style: outside disk;
        margin-left:22px; 
       li {
        padding-left: 0px;
        span {
            margin-left: 0;
        }
       }
    }
    
    .iScrollVerticalScrollbar {
        &.iScrollLoneScrollbar {
            height: 100%;
            bottom: 0 !important;
            box-shadow: 0px 0.5px 0 0 #fff, inset 0px 0.5px 1.5px 0 #000 !important;
            background-color: #bec3c8;
            width: 5px !important;
            .iScrollIndicator {
                height: 128px !important;
                width: 5px !important;
                box-shadow: 0px 0.5px 1.5px 0 #989b9d;
                background-image: linear-gradient(to top, #ea1b75, #8b1d58) !important;
            }
        }
    }

}

//NEW TRIVICAY ISI 
.ui-dialog[aria-describedby="safe-dialog-trivicay"] {
    background-color: #fdedec !important;
    top: 101px !important;
    left: 31px  !important;
    height: 756px !important;
    width: 1301.5px !important;
    
    padding-left: 79px;
    padding-right: 90.5px;
    padding-top: 71.5px;
    color: #63666a;
    font-family: OpenSans-Regular;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 22.5px;
      
    #safe-dialog-trivicay {
       width: 1169px !important;
    }
    
	h1.isi-dialog-header {
		@include font-falina-medium();
		font-size: 34.8px;
		line-height: 26.5px;
		margin-bottom: 12px;
        color: $darkish-purple;
        border-bottom: dotted 1.5px $darkish-purple;
        padding-bottom: 13px;
		display: block;
	}
	h3 {
		color: $strong-pink;
		@include font-openSans-bold();
		font-size: 17.5px;
		line-height:  22.5px;
	}
	p {
		margin-bottom: 10px;
	}
	ul {
		margin-left: 22px;
		margin-bottom: 10px;
    }
    
    .iScrollVerticalScrollbar {
        &.iScrollLoneScrollbar {
            height: 65%;
            bottom: 0 !important;
            box-shadow: 0px 0.5px 0 0 #fff, inset 0px 0.5px 1.5px 0 #000 !important;
            background-color: #bec3c8;
            width: 5px !important;
            .iScrollIndicator {
                height: 128px !important;
                width: 5px !important;
                box-shadow: 0px 0.5px 1.5px 0 #989b9d;
                background-image: linear-gradient(to top, #007ac0, #00558f) !important;
                
            }
        }
    }

}
//END NEW TRIVICAY ISI


.ui-dialog .ui-button-icon {
    display: none;
}

.ui-dialog .ui-dialog-content .dialogBody {
    display: block;
    position: absolute;
}

.ui-dialog button.ui-dialog-titlebar-close {
    position: absolute;
    top: 30px;
    right: 35px;
    width: 38px;
    height: 3px;
    border: none;
    outline: none;
    background: url(../../shared/media/images/icon_exit.svg);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    z-index: 10;
}

/* Styling for open links within a dialog box */
.dialog .openDialog {
    color: $red-orange;
    text-decoration: underline;
}

/* Dynamically added class for differentiating between parent and child dialogs */
div.ui-dialog-child {
    border: 1px solid $red-orange;
}

.ui-dialog[aria-describedby="dialog-no-response"] {
    height: 840px !important;
    border-radius: 40px;
    background-color: $very-light-pink-four;
}


.ui-dialog[aria-describedby="dialog-t-cell-count"] {
    height: 840px !important;
    border-radius: 40px;
    background-color: $very-light-pink-four;

    .chart_subhead_plum {
        margin-bottom: 25px;
        line-height: 22px;
    }

    .pop-tabs {
        .below_chart_pink_header {
            font-size: 17px;
            padding: 10px 0;
        }
    }

    .opensans {
        @include font-openSans-Regular();
    }
}


.ui-dialog[aria-describedby="dialog-viiv-connect"] {
    width: 1302.5px !important;
    height: 741px !important;
    border-radius: 40px;
    padding-left: 96px;
    padding-right: 87px;
    left: 30px !important;
    padding-top: 51.5px;
    background-color: $very-light-pink-four;
    .chart_subhead_plum {
      line-height:  24px;
      span {
        @include font-openSans-bold();
      }
    }
}

.ui-dialog[aria-describedby="dialog-viiv-connect"] {
    padding-left: 39px;
    padding-top: 67px;
    height: 629px !important;
    .viiv-connect-logo {
        width: 298px;
        height: 94px;
        background: url(../../shared/media/images/vii-v-connect-tm-cmyk.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: 100px;
        left: 228.5px;
    }
    p, li {
        font-size: 16px;
        letter-spacing: 0.32px;
        line-height: 20px;
        @include font-openSans-Regular();
        color: $dark-grey;
    }
    p {
        width: 520px;
        margin-top: 128px;
        margin-left: 107px;
        margin-bottom: 30px;
    }

    ul {
        float: left;
        li {
            list-style: none;
            padding-left: 10px;
            &::before {
                content: '';
                position: absolute;
                background: url(../../shared/media/images/triange-red.png);
                background-repeat: no-repeat;
                width: 37.5px;
                height: 37.5px;
                left: 6.7em;
                margin-top: 0.3em;
            }
        }
        &.left {
            margin-left: 107px;
        }

        &.right {
            li {
                &::before {
                    content: '';
                    position: absolute;
                    background: url(../../shared/media/images/triange-red.png);
                    background-repeat: no-repeat;
                    width: 37.5px;
                    height: 37.5px;
                    left: 25.1em;
                    margin-top: 0.3em;
                }
            }
        }
   }
 .access-box-container {
        position: relative;
        top: -179px;
        left: 43px;
        .access-header {
            font-size: 14px;
            color: #e31836;
            @include font-openSans-semiBold();
            text-transform: uppercase;
            span {
                text-transform: lowercase;
            }
         }
        .call-container {
           // border: solid 1px #959595;
            width: 373.5px;
            height: 246.5px;
            position: absolute;
            top: 23.5px;
            left: 703px;
            font-size: 14px !important;

            background: url('../../shared/media/images/vc_popup.png');
	        background-size: contain;
	        background-repeat: no-repeat;
            
            @include font-openSans-Regular();
            span {
                @include font-openSans-bold();
                display: inline-block; 
                margin-bottom: 5px;
            }
            div {
               background-color: #ebebeb;
               border-top: solid 1px #959595;
               border-bottom: solid 1px #959595;
               padding-left: 81.5px;
               
               &:nth-of-type(1) {
                background-color: #fff;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-right: 33px;
                padding-left: 13px;
            }
               &:nth-of-type(2) {
                padding-top: 31.5px;
                padding-bottom: 20.5px;
                span::before {
                    content: '';
                    position: absolute;
                    background: url(../../shared/media/icons/vector-smart-object-3@2x.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 48px;
                    height: 348px;
                    left: 1.1em;
                    margin-top: -1em;
                }
               }
               &:nth-of-type(3) {
                padding-top: 14.5px;
                padding-right: 27px;
                padding-bottom: 16px;
                span::before {
                    content: '';
                    position: absolute;
                    background: url(../../shared/media/icons/vector-smart-object-11@2x.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 48px;
                    height: 48px;
                    left: 1.1em;
                    margin-top: 0.5em;
                }
            }
          }
        }
    }
    p.footnote {
        font-size: 12px;
        @include font-openSans-Regular();
        position: absolute;
        top: 70%;
        width: 682px;
    }
}

.ui-dialog[aria-describedby="quickLinkDialog"] {
    background-color: #8e1d58;
    color: #fff;
   
    h3 {
        color: #fff;
        font-size: 34.8px;
        line-height: 26.5px;
        @include font-falina-regular();
    }

    ol li {
        font-size: 14px !important;
        @include font-openSans-Regular();
        line-height: 17px !important;
        i {
            @include font-openSans-Italic();
        }
    }

    #referencesScroller {
        height: auto !important;
    }

    #footnotesScroller {
        height: 287px !important;
    }
  
    #referenceList li.referenceActive, .footnoteActive {
        color: #fff;
    }

    #footnotesList li {
        color: #fff;
    }
    
    .embeddedReferences {
        padding-bottom: 55px;
    }
   
    .embeddedQuickLink ol {
        margin-top: 21px;
        border-top: dotted 1.5px #ffccff;
        padding-top: 24px;
    }

    .embeddedQuickLink ol li {
        line-height: 19px;
    }

    .iScrollVerticalScrollbar {
        display: none;
    }
}

.ui-dialog[aria-describedby="dialog-video"], .ui-dialog[aria-describedby="dialogM184VVideo"] { 
    width: 1301px !important;
    height: 810px !important;
    background-color: #000;
   
     #d3-video {
        // width: 1275px !important;
        width: auto;
        margin-top: 5px !important;
        margin-left: 5px !important;
        padding-top: 60px;
     }

}


.ui-dialog[aria-describedby="dialog-patient-profiles"] { 
    height: 745px !important;
}
