@charset "UTF-8";
//@font-face {
//  font-family: 'boostrix';
//  src: url('../media/fonts/boostrix/boostrix.eot?98580655');
//  src: url('../media/fonts/boostrix/boostrix.eot?98580655#iefix') format('embedded-opentype'),
//       url('../media/fonts/boostrix/boostrix.woff2?98580655') format('woff2'),
//       url('../media/fonts/boostrix/boostrix.woff?98580655') format('woff'),
//       url('../media/fonts/boostrix/boostrix.ttf?98580655') format('truetype'),
//       url('../media/fonts/boostrix/boostrix.svg?98580655#boostrix') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'boostrix';
    src: url('../media/fonts/boostrix/boostrix.svg?98580655#boostrix') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "boostrix";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-list:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-male:before { content: '\e802'; } /* '' */
.icon-female:before { content: '\e803'; } /* '' */
.icon-adult-syringe:before { content: '\e804'; } /* '' */
.icon-branded-syringe:before { content: '\e805'; } /* '' */
.icon-cdc-syringe:before { content: '\e806'; } /* '' */
.icon-caduceus:before { content: '\e807'; } /* '' */
.icon-insurance:before { content: '\e808'; } /* '' */
.icon-custservice:before { content: '\e809'; } /* '' */
.icon-baby:before { content: '\e80a'; } /* '' */
.icon-infant-clipboard:before { content: '\e80b'; } /* '' */
.icon-family:before { content: '\e80c'; } /* '' */
.icon-infant-syringe:before { content: '\e80d'; } /* '' */
.icon-medicare:before { content: '\e80e'; } /* '' */
.icon-ordering:before { content: '\e80f'; } /* '' */
.icon-purchasing:before { content: '\e810'; } /* '' */
.icon-click-hand:before { content: '\e811'; } /* '' */
.icon-pregnant-woman:before { content: '\e812'; } /* '' */
.icon-scroll:before { content: '\e813'; } /* '' */
.icon-boostrix-logo:before { content: '\e814'; } /* '' */
.icon-exit:before { content: '\e815'; } /* '' */
.icon-envelope:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-play:before { content: '\e81a'; } /* '' */
