/* Falina */

@font-face {
  font-family: 'Falena-ExtraLight';
  font-style: normal;
  font-weight: 300;
  src: local('Falena-ExtraLight'), local('Falena-ExtraLight'), url(../../shared/media/fonts/Falena-ExtraLight.otf) format('opentype') ;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin font-falina-extraLight() {
  font-family: Falena-ExtraLight;
  font-weight: 300;
}

@font-face {
    font-family: 'Falina-Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Falina-Medium'), local('Falina-Medium'), url(../../shared/media/fonts/Falena-Medium.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-falina-medium() {
    font-family: Falina-Medium;
    font-weight: 400;
}

@font-face {
    font-family: 'Falina-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Falina-Regular'), local('Falina-Regular'), url(../../shared/media/fonts/Falena-Regular.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-falina-regular() {
    font-family: Falina-Regular;
    font-weight: 400;
}

@font-face {
    font-family: 'Falina-SemiBold';
    font-style: normal;
    font-weight: 700;
    src: local('Falina-SemiBold'), local('Falina-SemiBold'), url(../../shared/media/fonts/Falena-SemiBold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-falina-semiBold() {
    font-family: Falina-SemiBold;
    font-weight: 700;
}

@font-face {
    font-family: 'Falina-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Falina-Bold'), local('Falina-Bold'), url(../../shared/media/fonts/Falena-Bold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-falina-bold() {
    font-family: Falina-Bold;
    font-weight: 700;
}

/* MyriadPro-Regular */

@font-face {
    font-family: 'MyriadPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('MyriadPro-Regular'), local('MyriadPro-Regular'), url(../../shared/media/fonts/MyriadPro-Regular.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-myriad-pro-regular() {
    font-family: MyriadPro-Regular;
    font-weight: 400;
}

/* Roboto-Medium */

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Medium'), local('Roboto-Medium'), url(../../shared/media/fonts/Roboto-Medium.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-roboto-medium() {
    font-family: Roboto-Medium;
    font-weight: 400;
}

/* OpenSans */

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans-Bold'), local('OpenSans-Bold'), url(../../shared/media/fonts/OpenSans-Bold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-bold() {
    font-family: OpenSans-Bold;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSansCondensed-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSansCondensed-Bold'), local('OpenSansCondensed-Bold'), url(../../shared/media/fonts/OpenSansCondensed-Bold.ttf) format('truetype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-condensed-bold() {
    font-family: OpenSansCondensed-Bold;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans-Semibold'), local('OpenSans-Semibold'), url(../../shared/media/fonts/OpenSans-Semibold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-semiBold() {
    font-family: OpenSans-Semibold;
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans-Regular'), local('OpenSans-Regular'), url(../../shared/media/fonts/OpenSans-Regular.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-Regular() {
    font-family: OpenSans-Regular;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans-Italic';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans-Italic'), local('OpenSans-Italic'), url(../../shared/media/fonts/OpenSans-Italic.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-Italic() {
    font-family: OpenSans-Italic;
    font-weight: 400;
}


@font-face {
    font-family: 'OpenSans-LightItalic';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans-LightItalic'), local('OpenSans-LightItalic'), url(../../shared/media/fonts/OpenSans-LightItalic.ttf) format('truetype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-lightItalic() {
    font-family: OpenSans-LightItalic;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans-Light'), local('OpenSans-Light'), url(../../shared/media/fonts/OpenSans-Light.ttf) format('truetype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin font-openSans-light() {
    font-family: OpenSans-Light;
    font-weight: 400;
}

@font-face {
  font-family: 'OpenSansCondensed-Light';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSansCondensed-Light'), local('OpenSansCondensed-Light'), url(../../shared/media/fonts/OpenSansCondensed-Light.ttf) format('truetype') ;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin OpenSansCondensed-Light() {
  font-family: OpenSansCondensed-Light;
  font-weight: 400;
}


