/* ISI FOOTER */
.isi-footer {
    background: $white;
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding-left: 1.8%;
    color: #000;
    height: 17%;
    bottom: 6%;
    padding-top: 0;
    z-index: 100;
    box-shadow: inset 0px 1.5px 2.5px 0 $black-36;
    * {
      -webkit-text-size-adjust: none;
    }
	  h1.isi-dialog-header {
      @include font-openSans-bold();
      color: $darkish-purple-two;
	  }
    h3 {
      color: $darkish-purple-two;
      @include font-openSans-bold();
		  font-size: 22.8px;
	    line-height: 26.8px;
		  margin-bottom: 5px;
    }
    ul {
      	list-style: none;
      	margin-left: -12.5px;
      	padding-bottom: 5px;
 	     	color: $charcoal-grey;
      	max-width: 93%;
      li {
        margin-top: 5px;
        line-height: 18px;
        @include font-openSans-Regular();
		  
      }
    }
    p {
		    @include font-openSans-Regular();
	  	  color: $charcoal-grey;
      	max-width: 94%;
		    font-size: 17.5px;
		    line-height: 22.5px;
		    margin-bottom: 5px;
		&.footer-text-bold {
			@include font-openSans-bold();
			line-height: 22.5px;
    }
    span {
      &.footer-text-bold {
        @include font-openSans-bold();
        line-height: 22.5px;
      }
    }
  }
    .isi-addt-info {
      @include font-openSans-Regular();
      padding-bottom: 2vh;
    }
    .isi-left {
      width: 93%;
      display: inline-block;
      display: none;
    }
    .isi-right {
    	display: inline-block;
    	vertical-align: top;
    	width: 8%;
    	text-align: right;
    	margin-left: 90%;
    	margin-right: 0;
    	margin-top: -31px;
      img {
        &#expand-btn, &#collapse-btn {
            width: 36px;
            position: relative;
            top: 54px;
            z-index: 500;
        }
		&#collapse-btn {
        transform: rotate(180deg);
        position: relative;
        top: 54px;
        z-index: 500;
        display: none;
		}
      }
    }
    .isi-footer-heading {
      @include font-openSans-bold();
      line-height: 1.32;
      letter-spacing: 0.2px;
      font-size: 23.2px;
      font-weight: 500;
      width: 73%;
      &.top-footer-heading {
        margin-top: -5px;
      }
    }

    p {
      &.isi-footer-heading {
        font-size: 17.5px;
        line-height: 20px;
        color: #8b1d58;
      }
    }
  
    .main-sub-head {
      @include font-openSans-bold();
      font-size: 17.5px;
      line-height: 20px;
      color: #3d3d3d;
    }

    .caps-head {
      color: #8b1d58;
    }
	

    ul {
      list-style: disc;
      margin-left: 0;
      li {
        font-size: 16px;
        margin-left: 22px;
      }
    }
    .isi-footer {
      .isi-left .isi-footer-heading {
      	font-weight: 500;
        width: 70vw;
       }
      .isi-right {
        float: right;
      }
      ul {
        letter-spacing: -0.006em;
      }
    }
  }

/* Fix to add a bottom margin to an IScroll scrolling div, so as to make all content visible */

#isi-footer {
  .iScrollVerticalScrollbar {
    &.iScrollLoneScrollbar {
      right: 86px !important;
      top: 50px !important;
    }
  }
}

.iscroll>div {
  padding-bottom: 11.2vh; 
}
