#customMenuWrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1363px;
  height: 100%;
  opacity: 0.95;
  z-index: 100000;
  box-shadow: 1.5px 2.6px 2.4px 0.6px rgba(59, 59, 59, 0.6);
  background: transparent url("../../shared/media/images/overlay.png");

  #customMenu {
      height: 94%;
    #closeCustomMenu {
      position: absolute;
      top: 27px;
      left: 669px;
      width: 40px;
      height: 40px;
      background-image: url("../../shared/media/images/close_Icon.png");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: 8px 8px;
      z-index: 9999999999;
    }
  }

  .customMenu {
    z-index: 999999999;
    position: absolute;
    background-color: #8e1d58;

    display: grid;
    grid-template-columns: 298px 44px 298px;
    grid-template-areas: "menu-left menu-guttter menu-right";

    padding-top: 71.5px;
    padding-left: 47.5px;
    // height: 1023px;
    height: 959px;
    width: 740px;
    margin-left: 0;

    .menu-forced-flow {
      grid-area: menu-left;
    }

    .menu-other {
      grid-area: menu-right;
    }

    .menu-group {
      p {
        margin: 0;
      }

      .section {
        width: 298px;
        padding-bottom: 22px;

        header {
          padding-top: 22px;

          p {
            @include font-falina-bold();
            font-size: 27px;
            color: $strong-pink;
            text-transform: uppercase;
          }
        }
        .sub-sections {
          li {
            border-bottom: dotted 1.5px $light-peach;

            &:last-child {
              border-bottom: none;
            }

            p {
              @include font-falina-regular();
              font-size: 21px;
              line-height: 36px;
              color: #fff;
              text-transform: uppercase;
              padding-top: 5px;
              padding-bottom: 5px;
            }
          }
        }
        border-bottom: solid 1.5px $light-peach;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
