// Popup tabs
.pop-tabs {
    width: 100%;
    display: grid;

    // Header
    &__header {
        grid-row-start: 1;
        @include font-openSans-condensed-bold();
        color: $plum;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .top-menu {
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: auto auto;
        z-index: 1;

        // Menu item
        &__item {
            @include font-openSans-Regular();
            color: $darkish-purple-two;
            font-size: 24px;
            padding-top: 25px;
            padding-bottom: 25px;
            border: 2px solid transparent;
            border-color: $darkish-purple-two;
            text-align: center;

            span {
                font-size: 14px;
                padding-top: 5px;
            }

            &.active {
                color: $white;
                // background-color: $darkish-purple-two;
                border-color: transparent;
                background-repeat: no-repeat;
                height: 86px;
                padding-top: 32px;

                &#pop-tabs_1_button {
                    background-size: 101% 110%;
                    background-position: -5px -4px;
                    background-image: url('../../shared/media/images/purple_left.png');
                }

                &#pop-tabs_2_button {
                    background-size: 101% 110%;
                    background-position: -2px -4px;
                    background-image: url('../../shared/media/images/purple_right.png');
                }
            }

            &.inactive {
                color: $dark-grey;
                border-color: $dark-grey;
                opacity: .5;
                height: 73px;
                margin-top: 7px;
            }

            &:nth-of-type(1) {
                grid-column-start: 1;
            }

            &:nth-of-type(2) {
                grid-column-start: 2;
            }
        }
    }

    // Profile tab layout
    .pop-tab {
        display: none;
        grid-column-start: 1;
        grid-row-start: 3;
        background-color: $white;
        background-position: 100% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border: 4px solid transparent;
        border-top: 0;
        margin-top: -6px;

        &.active {
            display: block;
        }

        &.pop-tab-1 {
            border-color: $darkish-purple-two;
            padding: 18px 40px 10px;
            height: 103%;
        }

        &.pop-tab-2 {
            border-color: $darkish-purple-two;
            padding: 20px 40px 10px;
            height: 99.8%;
            .chart_subhead_plum {
                margin-bottom: -22px;
            }
            .body_text {
                font-size: 16px;
                margin-top: 6px;
                line-height: 1.1em;
                span {
                    @include font-openSans-bold();
                }
            }
        }

    }

	.two-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.pink-subheader {
		background-color: $very-light-pink;
		color: black;
		@include font-openSans-Regular();
		font-size: 15px;
		padding: 10px 20px;
	}

	.pt-xsmall {
		padding-top: 5px;
	}

	.three-quarters {
		display: grid;
		grid-template-columns: 3fr 1fr;

		> div {
            align-self: center;
            width: 130%;
		}

		.body_text {
            font-size: 16px;
            margin-top: 6px;
            line-height: 1.1em;
            span {
                @include font-openSans-bold();
            }
		}
	}

	.justify-center {
		justify-self: center;
	}

	.below_chart_pink_header {
		font-size: 20px;
		color: $strong-pink;
        @include font-openSans-bold();
        padding: 10px 0;
    }
    
    ul li {
        padding-bottom: 5px;
    }

    .chart_footnotes {
        margin-top: 5px;
        line-height: 1.3;
        @include font-openSans-Regular();
        .hang-foot {
            display: inline-block;
            margin-left: -0.5em;
        }
    }

}