// Patient profiles
.patient-profiles {
    width: 100%;
    display: grid;

    // Header
    &__header {
        grid-row-start: 1;
        @include font-openSans-condensed-bold();
        color: $plum;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .top-menu {
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        z-index: 1;

        // Menu item
        &__item {
            @include font-openSans-condensed-bold();
            color: $darkish-purple-two;
            font-size: 24px;
            text-transform: uppercase;
            padding-top: 25px;
            padding-bottom: 25px;
            border: 2px solid transparent;
            border-color: $darkish-purple-two;
            text-align: center;

            span {
                font-size: 14px;
                padding-top: 5px;
            }

            &.active {
                color: $white;
                // background-color: $darkish-purple-two;
                border-color: transparent;
                background-repeat: no-repeat;

                &#profile_1_button {
                    background-size: 101% 110%;
                    background-position: -5px -4px;
                    background-image: url('../../shared/media/images/purple_left.png');
                }

                &#profile_2_button {
                    background-size: 101% 110%;
                    background-position: -2px -4px;
                    background-image: url('../../shared/media/images/purple_right.png');
                }
            }

            &.inactive {
                color: $dark-grey;
                border-color: $dark-grey;
                opacity: .5;
                height: 73px;
                margin-top: 7px;
            }

            &:nth-of-type(1) {
                grid-column-start: 1;
            }

            &:nth-of-type(2) {
                grid-column-start: 2;
            }
        }
    }

    // Profile tab layout
    .profile_tab {
        display: none;
        grid-column-start: 1;
        grid-row-start: 3;
        background-position: 100% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border: 4px solid transparent;

        &.active {
            display: block;
        }

        &.profile_tab-reset {
            border-top: 0;
        }

        &.profile_tab-1 {
            background-image: url('../../shared/media/images/patient-1.png');
            border-color: $darkish-purple-two;
            margin-top: -6px;
        }

        &.profile_tab-2 {
            background-image: url('../../shared/media/images/patient-2.png');
            border-color: $darkish-purple-two;
            margin-top: -6px;
        }

        .two-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 415px;

            &__left {
                grid-column-start: 1;
            }

            &__right {
                grid-column-start: 2;
            }
        }

        .half-image {
            width: 100%;
            margin-top: -10px;

            &__disclaimer {
                color: $black;
                @include font-openSans-bold();
                font-size: 11px;
                text-align: left;
                position: relative;
                top: 25px;
                left: 30px;
            }
        }


        &__disclaimer {
            color: $black;
            @include font-openSans-bold();
            font-size: 11px;
            text-align: left;
            position: relative;
            top: 80px;
            left: 30px;
        }
    }

    // Table
    .table {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;

        // Table header
        &__header {
            @include font-openSans-condensed-bold();
            color: $white;
            font-size: 16px;
            background-color: $strong-pink;
            padding: 10px;
        }

        // Table cell
        &__cell {
            display: grid;
            grid-template-columns: 2fr 3fr;
            border-bottom: 1px solid $light-grey;
            padding: 15px 10px;

            div:nth-of-type(1) {
                grid-column-start: 1;
                @include font-openSans-condensed-bold();
                color: $darkish-purple-two;
                font-size: 18px;
            }
            
            div:nth-of-type(2) {
                grid-column-start: 2;
                @include font-openSans-Regular();
                color: $dark-grey;
                font-size: 18px;
                line-height: 1;
            }

            div:last-of-type {
                border: 0;
            }
        }
    }

    // Tap to continue
    &__tap {
        grid-row-start: 3;
        @include font-openSans-condensed-bold();
        color: $darkish-purple-two;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
    }

}