// Tabs
.tabs {
    width: 95%;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto;
    align-self: start;

    .side-menu {
        grid-column-start: 1;

        &__item {
            @include font-openSans-condensed-bold();
            color: $darkish-purple;
            font-size: 16.5px;
            text-transform: uppercase;
            padding: 20px 10px;
            margin-left: -10px;
            margin-right: 80px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;

            &.active {
                color: $strong-pink;
                border-top: 1px solid $lipstick;
                border-bottom: 1px solid $lipstick;
            }
        }
    }

    .tab {
        display: none;
        grid-column-start: 2;

        .tab_regular_text {
            color: $dark-grey;
        }

        .list_grey {
            color: $dark-grey;
        }

        &.active {
            display: block;
        }
    }

}