
.h1-header {
	color: $strong-pink;
	@include font-falina-semiBold();
	font-size: 42.5px;

	&--tab {
		display: none;
		line-height: 1.2;
		height: 100px;

        &.active {
            display: block;
        }
	}
	sup {
		@include font-openSans-Regular();
	}
}

.h1_header_two_lines {
	color: $strong-pink;
	@include font-falina-semiBold();
	font-size: 42.5px;
	line-height: 43.2px;
	margin-bottom: 22.5px;
}


.home_subhead {
	color: $aubergine;
	@include font-openSans-Regular();
	font-size: 25.8px;
}

.h2-sub-header {
	color: $brown-grey-two;
	@include font-falina-bold();
}

.h1-header-chart-pages {
	color: $greyish-brown-two;
	@include font-falina-semiBold();
	font-size: 43.2px;
	sup {
		@include font-falina-regular();
	}
}

.h2-sub-header-chart-pages {
	color: $greyish-brown;
	@include font-openSans-Regular();
	font-size: 17.8px;
	line-height: 24px;
	span {
		font-weight: 700;
		@include font-openSans-bold();

	}
}

.h2_subhead_grey {
	color: $greyish-brown;
	@include font-openSans-Regular();
	font-size: 18.8px;
}

.tab_regular_text {
	@include font-openSans-Regular();
	font-size: 17.2px;
	color: $brown-grey-two;
}

.tab_title {
	color: $brown-grey-two;
	@include font-falina-bold();
	font-size: 16px;
	text-transform: uppercase;
}

.chart_subhead_plum {
	@include font-openSans-semiBold();
	font-size: 21px;
	color: $plum;

	sup {
		@include font-openSans-Regular();
	}
}

.body_text {
	color: $greyish-brown;
	@include font-openSans-Regular();
	font-size: 17.2px;
}

.body_text_bold {
	color: $greyish-brown;
	@include font-openSans-semiBold();
	font-size: 17.2px;
}

ul {
	margin-left: 20px;
	li {
		color: $mulberry;

		span {
			margin-left: -5px;

			&.list_grey {
				@include font-openSans-Regular();
				font-size: 17px;
				color: $dark-grey;
				margin-left: 0;
				span {
					@include font-openSans-semiBold();
					margin-left: 0;
				}
			}

			&.list_grey_bold {
				@include font-openSans-semiBold();
				font-size: 17px;
				color: $dark-grey;
			}
		}

	}

	&.two-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.chart_subhead_light {
	color: $strong-pink;
	@include font-myriad-pro-regular();
	font-size: 16px;
}

.chart_subhead_dash {
	color: $strong-pink;
	@include font-myriad-pro-regular();
	font-size: 14px;
}

.chart_subhead_dark {
	color: $darkish-purple;
	@include font-openSans-semiBold();
	font-size: 16px;
}