/* Color palette */

$white: #fefeff;
$black: #000000;
$pearl: rgb( 216, 216, 216);
$light-navy: #1a598e;
$purple: #5d26a0;
$dark-purple: #4e2683;
$darker-purple: #420b71;
$dark: #263348;
$cerulean: #0079bb;
$dark-grey-blue: #31405a;
$dark-blue: #29354b;
$grey: #4a4c4f;

$darker-grey: #4b4b4b;
$darkest-grey: #888888;
$light-grey: #ebebeb;
$light-black: #333333;
$dark-black: #171717;
$red-orange: #ec6608;
$controls-bg-color: #2B333F;
$scroll-color: #575558;

/* Branded only colors */
$dark-purple-branded: #34165b;
$dark-grey-branded: #3c3c3c;

/* Dovato colors */

$dark-grey: #3d3d3d; // body and list text color
$very-light-pink: #fdedec;
$very-light-pink-three: #fdedec;
$very-light-pink-four: #fcf9f8;
$very-light-pink-five: #eaeaea;
$white: #ffffff;
$white-two: #fffcfc;
$strong-pink: #ea1b75;
$strong-pink-two: #ea1c75;
$darkish-purple: #8b1d58;
$darkish-purple-two: #8e1d58;
$aubergine: #48092b;
$charcoal-grey: #414042;
$berry: #8e1856;
$berry-two: #8e1454;
$berry-three: #8e1855;
$berry-four: #8e1654;
$berry-five: #8e1956;
$greyish-brown: #4b4b4b;
$greyish-brown-two: #3d3d3d;
$brown-grey: #a4a4a4;
$brown-grey-two: #838383;
$plum: #8e1d58;
$light-peach: #f7c4bf;
$mulberry: #8e0d50;
$lipstick: #d41568;
$light-grey-blue-64: rgba(176, 179, 181, 0.64);
$slate-grey: #63666a;
$slate-grey-two: #555556;
$black-36: rgba(0, 0, 0, 0.36);
