/**************************************************/
/* GSK Veeva Master Template - Core CSS           */
/**************************************************/
/* File version              1.6.6                */
/* Last modified             08/06/2018           */
/* Last modified by          Pulse                */
/**************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: auto;
}
body {
    /* position: absolute; */
    /* width: 1024px;
    height: 768px; */
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}
sup.gotoRef {
    display: inline-block;
    padding: 15px;
    margin: -15px;
}
/* #container {
    position: absolute;
    z-index: 1;
    /* width: 1024px;
    height: 768px; 
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    -webkit-perspective: 1000px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0, 0);
    overflow: hidden;
} 
*/
#container::-webkit-scrollbar {
    display: none;
}
#zoomOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#doubleClickLeft {
    position: absolute;
    z-index: 10;
    width: 50px;
    top: 0;
    left: 0;
    height: 768px;
}
#doubleClickRight {
    position: absolute;
    z-index: 10;
    width: 50px;
    top: 0;
    right: 0;
    height: 768px;
}
#doubleClickCentre {
    display: none;
    position: absolute;
    z-index: 10;
    width: 924px;
    height: 768px;
    top: 0;
    left: 72px;
}
.header,
.navBottom,
.footer {
    position: absolute;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
.header {
    top: 24px;
    right: 28px;
    z-index: 10;
}
.navBottom {
    bottom: 5px;
    left: 0; /* 70px */
    z-index: 99999;
}
.footer {
    bottom: 15px;
    right: 28px;
    z-index: 20;
}
.dialogLoading {
    margin-left: 1024px;
}

/* iScroll */
.scrollable {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
}
.scrollableInner {
    position: absolute;
    z-index: 20;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

.noTitlebar .iScrollVerticalScrollbar {
    margin-top: 55px;
}
.quickLinkDialogReferences .iScrollVerticalScrollbar {
    margin-top: 0;
}
/* Content loader iframe */
iframe.contentLoader {
    width: 0;
    height: 0;
    visibility: hidden;
}
