/**************************************************/
/* GSK Veeva Master Template - Custom CSS         */
/**************************************************/
/* File version              1.6.6                */
/* Last modified             08/06/2018           */
/* Last modified by          Pulse                */
/**************************************************/

.topNav {
    top: 50px;
    left: 80px;
    width: 864px;
    position: absolute;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    font: normal 16px 'HelveticaLight';
}

.guideTitle {
    position: absolute;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    font: normal 16px 'HelveticaLight';
}

.quickLinkDialogMenu,
.quickLinkDialogPi,
.quickLinkDialogObjection,
.quickLinkDialogReferences,
.quickLinkDialogGuide {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    margin-top: 50px;
}

/*
.quickLinkDialogReferences {
	border: solid 1px green;
}
*/

.dialog {
    overflow: hidden;
}

.dialog .topNav,
.dialog .menuTitle,
.dialog .piTitle,
.dialog .objectionTitle,
.dialog .guideTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: #fff;
}

.dialog .menuTitle,
.dialog .piTitle,
.dialog .objectionTitle,
.dialog .guideTitle {
    font: normal 24px/50px 'HelveticaMedium';
}

.dialog .topNav #referencesPage {
    margin-left: 0;
}

.dialog .topNav #referencesAll {
    margin-left: 60px;
}

.topNav #mtgskClose {
    position: absolute;
    background: url('../../shared/media/icons/icon_close.png') 0 0 no-repeat;
    background-size: 44px 44px;
    padding: 30px;
}

.topNav #referencesPage {
    position: absolute;
    background: url('../../shared/media/icons/icon_referencespage.png') 0 0 no-repeat;
    background-size: 44px 44px;
    padding: 30px;
    margin-left: 60px;
}

.topNav #referencesAll {
    position: absolute;
    background: url('../../shared/media/icons/icon_referencesall.png') 0 0 no-repeat;
    background-size: 44px 44px;
    padding: 30px;
    margin-left: 120px;
}

.zincCode {
    bottom: 85px;
    left: 25px;
    position: absolute;
    border: 0;
    font: normal 12px 'HelveticaLight';
    color: #888888;
    z-index: 10;
}
.preparation {
    bottom: 65px;
    left: 25px;
    position: absolute;
    border: 0;
    font: normal 12px 'HelveticaLight';
    color: #888;
    z-index: 10;
}

#referencesScroller,
#footnotesScroller {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 271px; /* 250px */
}

.references,
.footnotes {
    position: relative;
    width: 864px;
    margin-bottom:10px;
    overflow: hidden;
}

.references {
    margin-top: 30px;
	background-color: #8e1d58;
}

.mainContent .references {
    margin-top: 0;
}

#referenceList,
#footnotesList {
    position: relative;
}

#referenceList li {
    position: relative;
    left: 3px;
    font-size: 16px;
    margin-bottom: 4px;
    margin-left: 28px;
	color: #fff;
}

#footnotesList li {
    position: relative;
    left: -15px;
    font-size: 16px;
    margin-bottom:10px;
    list-style-type: none;
	color: #fff;
}

#referenceList li em,
#footnotesList li em {
    font-style: italic;
}

.dialogBody .references,
.dialogBody .footnotes {
    width: 95%;
    margin-top: 0;
}

/* Allow custom reference numbering */
#referenceList li.hasRefIndex {
    position: relative;
    list-style-type: decimal;
    margin-left: 0;
}
#referenceList li span.refIndex {
    position:relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 30px;
	display: none;
}

#guideScroller {
    position: relative;
    left: 0;
    top: 50px;
    height: 550px;
    width: 100%;
}

/* Portfolio Page Grid */
.navBottom div.portfolioNav {
    display: inline-block;
}
.gskRow {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.gskCol {
    position: relative;
    display: inline-block;
}
