/**************************************************/
/* GSK Veeva Master Template - Presentation CSS   */
/**************************************************/
/* File version              1.6.6                */
/* Last modified             08/06/2018           */
/* Last modified by          Pulse                */
/**************************************************/

@import 'font-icons';
@import 'fonts';
@import 'variables';
@import 'dialogs';
@import 'isi';
@import 'typography';
@import 'video-js';
@import 'profile-tabs';
@import 'pop-tabs';
@import 'menu';


body {
    // position: absolute;
    // width: 100%;
}

#container {
    width: 1366px;
    height: 1024px;
    transform-origin: top left;
    left: 50%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
 }

 .mainContent {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    font: normal 16px 'HelveticaLight';
    z-index:3;
    background-color: #fff;
}
.mainContent.guide {
    top: 100px;
    left: 80px;
    width: 864px;
    height: 600px;
}
.inlineContent,
.swiper-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
}
.inlineWrapper,
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-backface-visibility: hidden;
    -webkit-transition-timing-function: ease;

    -ms-transform: translate3d(0px,0,0);

    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0px,0,0);
    transition-timing-function: ease;
}
.inlineSlide,
.swiper-slide {
    float: left;
    width: 100%;
    height: 100%;
}
.mainContent .pageTitle {
    font: normal 24px 'HelveticaMedium';
    position: absolute;
}
.mainContent .referencesTitle,
.mainContent .footnotesTitle {
    position: relative;
}
.noSwipe {
    z-index: 3;
}
button {
    padding: 10px;
}

.dovatoLogo {
    width: 144px;
    height: 68px;
    background: url('../../shared/media/images/dovato-logo.png');
    background-repeat: no-repeat;
    background-size: 144px 68px;
    position: absolute;
    right: 91px;
    top: -5px;
}

.mainLogo {
    width: 55px;
    height: 48.5px;
    background: url('../../shared/media/images/vii-vh-ko-red@3x.png');
    background-repeat: no-repeat;
    background-size: 55px 48.5px;
    display: inline-block;
    margin-top: 5px;
}

.tivicayLogo {
    width: 151px;
    height: 68px;
    background: url('../../shared/media/images/tivicay_logo.svg');
    background-repeat: no-repeat;
    background-size: 151px 68px;
    display: inline-block;
    margin-top: -2px;
}

.footer {
    bottom: 15px;
    right: 28px;
    position: absolute;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    z-index: 20;
}
.brandLogo {
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 150px 40px;
}

/* Quick link buttons */

.navBottom {
    display: flex;
    bottom: 1px;
    background-color: #fffcfc;
    left:69.5px;
}
.navBottom > * {
    display: none;
    height: 44px;
    width: 44px;
    border-radius: 25px;
    z-index: 99999;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
.navBottom .display {
    display: flex;
}
.navBottom *.adjustForNav {
    margin-left: 157px;
}

.navBottom .footer_text {
	line-height: 17px;
	@include font-openSans-semiBold();
    color: $berry;
    font-size: 14px;
	padding-top: 17px;
	display: inline-block;
	text-align: center;
}

.ui-widget-overlay {
    .navBottom {
        position: absolute;
        top: 959px;
        left: 0;
        width: 1366px;
        z-index: 99999 !important;
    }
}

.ui-widget-overlay {
    .navBottom {
      #menu {
        margin-left: 70px;
      }
    }
}

#menu {
    background: url('../../shared/media/icons/menu.png');
    background-repeat: no-repeat;
    background-position: 21px 21px;
    background-size: 28.5px 23px;
    border-radius: 0;
    padding-top: 25.5px;
    width: 67.5px;
    height: 64px;
    border-left: solid 1px #f7c4bf;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#home {
    background: url('../../shared/media/icons/homebutton.png');
    background-repeat: no-repeat;
    background-position: 22px 17px;
    background-size: 34.5px 32px;
    border-radius: 0;
    width: 80px;
    height: 64px;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#Isi-nav {
    position: absolute;
    height: 66px;
    left: 466px;
    width: 443px;
    border-radius: 0;
    padding-left: 22px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    padding-right: 27px;
    background-color: #fffcfc;
    border-left: solid 1px #f7c4bf;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
    border-bottom: solid 1px #f7c4bf;
}

.ui-widget-overlay {  // need to check for which dialog is open to put in active background color
    #Isi-nav {
        left: 536px; // Added 70px for Disabled AMT globe in navBottom (linked to line 235 presentation.scss)
        width: 443px;

    //    color: #fff; the colors need to be added to an active state
    //    background-color: #8e1856;
        opacity: 1;
       
    }
    #pi-nav {
        left: 977px;
        width: 388.5px;
        &.activeNav {
            color: #fff;
            background-color: #8e1856;
            opacity: 1;
        }
       
    }
}

#Isi-absolute {
    z-index: 99999999999999;
    font-size: 14px;
    @include font-openSans-semiBold();
    position: absolute;
    bottom: -1px;
    height: 66px;
    left: 528.5px;
    width: 450.5px;
    // Added 80px for Disabled AMT globe in navBottom (linked to line 235 presentation.scss)
    // left: 456.5px;
    // width: 520.5px;
    padding-left: 22px;
    padding-top: 24px;
    padding-bottom: 24.5px;
    padding-right: 27px;
    background-color: #fffcfc;
    border-left: solid 1px #f7c4bf;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
    border-bottom: solid 1px #f7c4bf;
    &.footer_text {
      color: #8e1856;
    }
    outline: none;
  }

#pi-absolute {
    z-index: 99999999999999;
    top: initial;
    left: initial;
    font-size: 14px;
    @include font-openSans-semiBold();
    bottom: -1px;
    right: 0;
    height: 66px;
    width: 388.5px;
    padding-left: 22.9px;
    padding-top: 17px;
    padding-bottom: 24.5px;
    padding-right: 27px;
    border-radius: 0;
    line-height: 17px;
    position: absolute;
    background-color: #fffcfc;
    border-left: solid 1px #f7c4bf;
    border-bottom: solid 1px #f7c4bf;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
    &.footer_text {
      color: #8e1856;
    }
    outline: none;
  }


#pi-nav {
    position: absolute;
    left: 907px;
    height: 66px;
    width: 388.5px;
    padding-left: 33.5px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-right: 36px;
    border-radius: 0;
    background-color: #fffcfc;
    border-left: solid 1px #f7c4bf;
    border-right: solid 1px #f7c4bf;
    border-bottom: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#globe {
   @include font-falina-regular(); 
    background: url('../../shared/media/icons/amt-globe.png');
    background-repeat: no-repeat;
    background-position: 19px 16px;
    background-size: 34px 34px;
    border-radius: 0;
    width: 80px;
    height: 63px;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#references {
    background: url('../../shared/media/icons/reference-icon.png');
    background-repeat: no-repeat;
    background-position: 28px 16px;
    background-size: 27.5px 33.5px;
    border-radius: 0;
    width: 79.5px;
    height: 63px;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#switch {
    background-image: url('../../shared/media/icons/arrow-icon.png');
	background-repeat: no-repeat;
    background-position: 18px 16px;
    background-size: 41.5px 33.5px;
    border-radius: 0;
    width: 80px;
    height: 64px;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#email {
    @include font-falina-regular(); 
    background: url('../../shared/media/icons/email.svg');
    background-repeat: no-repeat;
    background-position: 23px 16px;
    background-size: 34px 34px;
    border-radius: 0;
    width: 80px;
    height: 63px;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
}

#shortFlow {
    position: relative;
    background: url('../../shared/media/icons/icon_spritesheet.png');
    background-repeat: no-repeat;
    background-position: -395px 0;
    background-size: 1024px 44px;
}

#objection {
    position: relative;
    background: url('../../shared/media/icons/icon_spritesheet.png');
    background-repeat: no-repeat;
    background-position: -351px 0;
    background-size: 1024px 44px;
}
#guide {
    position: relative;
    background: url('../../shared/media/icons/icon_spritesheet.png');
    background-repeat: no-repeat;
    background-position: -307px 0;
    background-size: 1024px 44px;
}
#portfolio {
    position: relative;
    background: url('../../shared/media/icons/icon_spritesheet.png');
    background-repeat: no-repeat;
    background-position: -439px 0;
    background-size: 1024px 44px;
}
#pinchToZoomIndicator {
    display: inline-block;
    position: relative;
    background: url('../../shared/media/icons/icon_spritesheet.png');
    background-repeat: no-repeat;
    background-position: -483px 0;
    background-size: 1024px 44px;
}
.pinchToZoom {
    display: block;
    position: absolute;
    width: 220px;
    height: 44px;
    padding-left: 10px;
    font: normal 16px/44px 'HelveticaLight';
    color: #fff;
    background-color: #ada7a3;
    border-radius: 22px;
    z-index: 99999;
}
.pinchToZoom div {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: url('../../shared/media/icons/icon_spritesheet.png');
    background-repeat: no-repeat;
    background-position: -528px 0;
    background-size: 1024px 44px;
}
.navBottom .popupHeading {
    display: none;
}
/* Active quick link button style */
.activeNav {
    opacity: 0.5;
}

/* References */
#referenceList li.referenceActive,
.footnoteActive {
    color: #fff !important;
    @include font-openSans-Regular();
    font-size: 13px !important; 
    i {
        @include  font-openSans-Italic();
    }
}
#referenceList li.referenceInactive {
    height: 0;
    margin: 0;
    overflow: hidden;
}
#referenceList.unindexed {
    list-style-type: none;
}
#referenceList.unindexed li {
    margin-left: 0;
}
.footnoteInactive {
    display: none;
}
.footnotesEmpty {
    display: none;
}

/* Embedded references and footnotes */
.embeddedQuickLink ol {
    padding: 0 0 0 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.embeddedQuickLink ol li {
    padding: 0;
    font-size: 18px;
    line-height: 22px;
}
.quickLinkDialogReferences {
    padding-bottom: 6px;
    padding-left: 40px;
}

/* Approved Email specific styles */
// #email.inactive {
//     background: url('../../shared/media/icons/icon_spritesheet.png');
//     background-repeat: no-repeat;
//     background-position: -263px 0;
//     background-size: 1024px 44px;
// }
// #email.active {
//     background: url('../../shared/media/icons/icon_spritesheet.png');
//     background-repeat: no-repeat;
//     background-position: -219px 0;
//     background-size: 1024px 44px;
// }
#email .selectorCount {
    display: block;
    position: absolute;
    top: 0;
    left: 28px;
    width: 16px;
    height: 16px;
    font: 10px/18px HelveticaMedium;
    color: #fff;
    background-color: #ec6608;
    border-radius: 10px;
    text-align: center;
}
/* Fragment selector container */
#flowSelector,
#fragmentSelector {
    position: absolute;
    bottom: 65px;
    left: 220px;
    width: 250px;
    color: #999;
    background-color: transparent;
    z-index: 999;
}
/* Container for fragments */
#flowSelector #flowSelectorInner,
#fragmentSelector #fragmentSelectorInner {
    padding-top: 52px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font: 16px HelveticaMedium;
    overflow: hidden;
}
/* Fragments */
#flowSelector #flowSelectorInner div,
#fragmentSelector #fragmentSelectorInner div {
    padding: 10px 5px;
    cursor: pointer;
}

/* Selected fragments */
#fragmentSelector div.gskFragmentSelected,
#flowSelector div.gskFlowSelected {
    color: #000;
}

/* Email fragment/Flow selector close color */
#flowSelector  #closeFlowSelector,
#fragmentSelector #closeSelector {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 44px;
    height: 44px;
    border: none;
    outline: none;
    background: url('../../shared/media/icons/icon_close.png');
    background-repeat: no-repeat;
    background-size: 44px 44px;
    z-index: 10;
}

/* Sub slide navigation styles  */
.navSubSlide {
    position: absolute;
    bottom: 5px;
    left: -55px;
    width: 110px;
    height: 48px;
    margin-left: 50%;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    z-index: 100000;
}
.navSubSlide div {
    display: none;
    position: relative;
    height: 44px;
    width: 44px;
}
.navSubSlide div.ssNavActive {
    display: inline-block;
}
div.ssNavActive + div.ssNavActive {
    margin-left: 8px;
}
#subSlideUp {
    background: url('../../shared/media/icons/icon_subslide_up.png');
    background-repeat: no-repeat;
    background-size: 44px 44px;
}
#subSlideDown {
    background: url('../../shared/media/icons/icon_subslide_down.png');
    background-repeat: no-repeat;
    background-size: 44px 44px;
}
/* Chrome added to bottom of the popup */
.selectorTriangle {
    position: relative;
    left: 115px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    z-index: 1000;
}

/* ISI */

#isiRail {
    display: none;
    z-index: 25;
}

body.includeISI #isiRail {
    display: block;
    position: absolute;
    top: 100px;
    left: 749px;
    width: 275px;
    height: 604px;
    border-left: 1px solid #ec6608;
    overflow: hidden;
}

body.includeISI #isiScrollWrapper {
    position: absolute;
    top: 36px;
    left: 0;
    width: 265px;
    height: 565px;
    padding: 0 0 0 10px;
    overflow: hidden;
}

body.includeISI #isiScrollWrapper #isiScroller {
    width:245px;
}

body.includeISI .isiHead {
    position: relative;
    padding: 0 15px 10px 10px;
    font: 24px/24px HelveticaMedium;
    color: #000;
    background-color: #ededed;
    z-index: 250;
}

body.includeISI #openPI {
    display: inline-block;
}

body.includeISI .seperator {
    display: inline-block;
    font: 20px/20px HelveticaMedium;
    vertical-align: top;
}

body.includeISI #openISI {
    display: inline-block;
    color: #ec6608;
}

body.includeISI #openISI span {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
}

body.includeISI .isiBody {
    padding-top: 10px;
    font: 16px/16px HelveticaLight;
    color: #000;
}

body.includeISI .isiBody h3 {
    margin-bottom: 10px;
    font: 22px/24px HelveticaMedium;
    color: #000;
}

body.includeISI .isiBody h4 {
    margin-bottom: 10px;
    font: 16px/18px HelveticaMedium;
    color: #000;
}

body.includeISI .isiBody p {
    margin-bottom: 10px;
}

body.includeISI #doubleClickRight {
    right: 275px;
}

/* Dialogs */

div.ui-widget-overlay {
    width: 1366px;
    height: 1024px;
    opacity: 1;
    background-color: transparent;
}

body.portrait div.ui-widget-overlay {
    width: 768px;
    height: 1024px;
}

div.ui-widget-overlay:last-of-type {
    background-image: url('../../shared/media/images/overlay.png');
}

div.ui-dialog {
    display: none;
    padding: 6px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    font: 14px/14px HelveticaLight;
    border: 1px solid #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.ui-dialog .ui-dialog-titlebar {
    height: 52px;
    padding: 4px;
}

.ui-dialog .ui-titlebar-hidden {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 0;
    height: 0;
    padding: 0;
    overflow: visible;
}

.ui-dialog .ui-dialog-title {
    font: 20px/42px HelveticaMedium;
}

.ui-dialog .ui-dialog-content {
    padding: 4px;
    z-index: 5;
    overflow: hidden;
}

.ui-dialog .ui-button-icon {
    display: none;
}

.ui-dialog .ui-dialog-content .dialogBody {
    display: block;
    position: absolute;
}

.ui-dialog button.ui-dialog-titlebar-close {
    position: absolute;
    top: 29px;
    right: 32.5px;
    width: 37px;
    height: 37px;
    border: none;
    outline: none;
    background: url('../../shared/media/images/close_Icon.png');
    background-repeat: no-repeat;
    background-size: 37px 37px;
    z-index: 10;
}

/* Styling for open links within a dialog box */
.dialog .openDialog {
    color: #ec6608;
    text-decoration: underline;
}

/* Dynamically added class for differentiating between parent and child dialogs */
div.ui-dialog-child {
    border: 1px solid #ec6608;
}
/* Disabled inline content arrows */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

/* Quick link dialogs */

/* Embedded Quick Links */
.embeddedQuickLink {
    padding: 0;
}
.embeddedQuickLink h3 {
  font-size: 34.8px;
  line-height: 26.5px;
  @include font-falina-regular();
  color: #fff !important;
}
/* Menu */
.embeddedQuickLink ul li {
    padding: 10px 0;
    font-size: 18px;

}

.embeddedQuickLink,
.quickLinkDialogContent {
    width: 100%;
	&.quickLinkDialogMenu {
		#dovato-menu-header {
			top: 58px;
    		height: 25px;
		}
		ul {
			li:nth-of-type(3) {
				margin-top: 40px;
			}
		}
	}
}
.quickLinkDialogContent p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0.5em;
}

// #customMenuWrapper {
//     display: none;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     z-index: 100001;
//     text-align: center;
// }
// #customMenuWrapper.mtLoad {
//     display: block;
//     top: 1024px;
// }
// #customMenuWrapper.inlineMenu {
//     display: block;
//     top: 125px;
//     height: 500px;
//     background: transparent;
// }
// #customMenuWrapper.enableQuickLinks {
//     z-index: 99990;
// }
// #closeCustomMenu {
//     position: absolute;
//     top: 27px;
//     right: 11px;
//     width: 40px;
//     height: 40px;
//     background: url(../../shared/media/images/close_Icon.png);
//     background-repeat: no-repeat;
//     background-size: 24px 24px;
//     background-position: 8px 8px;
// }
// #customMenu {
//     display: block;
//     position: relative;
//    	top: 0;
//     width: 55%;
//     height: 94%;
//     padding: 5px;
//     padding-top: 54px;
//     box-shadow: 3.4px 2.9px 2.8px 0.2px rgba(28, 29, 30, 0.09), -3px 3.3px 2.8px 0.2px rgba(28, 29, 30, 0.15);
//     font: 16px/24px HelveticaMedium;
//     z-index: 100001;
// 	background-color: rgba(139, 29, 88, 0.95);

// }
// #customMenuWrapper.inlineMenu #customMenu {
//     top: 10px;
//     left: 0;
//     height: 500px;
//     border: none;
// }

// ul.customMenu {
//     width: 126%;
// }

// #customMenu .customMenuItems {
//     display: block;
//     position: relative;
//     overflow: hidden;
//     text-align: left;
//     padding-right: 98px;
//     width: 621px;

//     // #customMenuItems1 {
//     //     .customMenuKeyMessage {
//     //         .keyMessage {
//     //            font-family: Falina-Bold;
//     //             font-weight: 700;
//     //             font-size: 27px;
//     //             color: #ea1b75;
//     //         }
//     //     }

//     // }
// }

// #customMenu .customMenuItems .scrollableInner {
//       position: relative;
//   }
  
ul.scrollableInner {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
        @include font-falina-semiBold();
        text-transform: uppercase;
        font-size: 27px;
        line-height: 1.2;
        padding-top: 4px;
        padding-bottom: 5px;
        width: 53%;
        color: $strong-pink;
        border-bottom: solid 1px $light-peach;
        list-style-type: none;
        &.openDialog {
            width: 62%;
            position: absolute !important;
            display: block;
            top: -78px;
        }
        span {
            text-transform: lowercase;
        }

    }      
}




#customMenuWrapper.inlineMenu .customMenuKeyMessage div.scrollable,
#customMenuWrapper.inlineMenu .customMenuKeyMessage ul {
  //  height: 450px;
}
// .customMenuKeyMessage ul li {
//     .customMenuKeyMessage ul li {
//     list-style-type: none;
//     font-size: 18px;
//     padding: 3px 0 3px 10px;
//     height: 58px;
//     border-bottom: 1px solid rgba(70,70,70,.25);
//     display: flex;
//     align-items: center;
//     &::after//         content: '';
//         width: 10px; 
//         height: 17px;
//         background-repeat: no-repeat;
//         background-size: contain;
//         margin-left: auto;
//     }
//   }
// }

/* Hide Reference selector on superscript custom references */
#quickLinkDialog.customRefs .referenceSelector,
#referencesPage.customRefs,
#referencesAll.customRefs {
    display: none;
}
/* Remove reference header top margin on superscript custom references */
#quickLinkDialog.customRefs .embeddedReferences {
    margin-top: 0;
}

.pi, .objection {
    width: 98%;
}
.pi .pageTitle, .objection .pageTitle {
    position: relative
}
/* Styles for pi */
.pi, .objection {
    color: #333333;
}
.pi h3,
.pi .pageTitle,
.objection h3,
.objection .pageTitle,
.guide h3,
.guide .pageTitle  {
    font: 24px/42px HelveticaMedium;
}
.pi h4,
.objection h4 {
    font: 14px/14px HelveticaLight;
    font-weight: bold;
}
.pi p,
.objection p {
    font: 14px/14px HelveticaLight;
}

/* Hidden elements */
#email .selectorCount.hidden,
.hidden {
    display: none;
}

/* Portfolio Page */
#portfolioPresentationScroll {
    position: relative;
    top: 40px;
    height: 600px;
}

#portfolioPresentationContainer {
    position: absolute;
}
.gskCol {
    width: 200px;
    margin: 0 42px 10px;
}

.portfolioData img {
    display: block;
}

.portfolioData div {
    padding-top: 2px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: #fff;
}

.portfolioData {
    border: 1px solid rgba(200, 200, 200, 1);
}

.portfolioData.portfolioSelected {
    border: 1px solid rgba(236, 102, 8, 1);
}

#flowSelector.portfolioFlowSelector {
    left: 250px;
}

#flowSelector.portfolioFlowSelector .selectorTriangle {
    left: 32px;
}

/* iScroll */
.iScrollVerticalScrollbar {
    width: 7px;
    border-radius: 4px;
}

/* Portrait Mode */
@media screen and (max-width: 768px) {
    body.portrait, body.portrait #container, body.portrait #zoomOverlay, body.portrait .bg {
        width: 768px;
        height: 1024px;
    }

    body.portrait .mainContent {
        top: 100px;
        left: 84px;
        width: 600px;
        height: 824px;
    }

    body.portrait #doubleClickLeft, body.portrait #doubleClickRight {
        height: 1024px;
    }

    body.portrait #doubleClickCentre {
        width: 768px;
        height: 924px;
    }

    body.portrait div.ui-widget-overlay {
        width: 768px;
        height: 1024px;
    }

    body.portrait #customMenu {
        top: 250px;
    }

    body.portrait .customMenuKeyMessage {
        width: 135px;
    }

    body.portrait .customMenuKeyMessage div.keyMessage {
        font-size: 14px;
    }

    body.portrait .customMenuKeyMessage ul li {
        font-size: 14px;
        line-height: 16px;
    }
}

.referenceSelector {
	display: none !important;
}

.footer {
    display: block;
    background: #fffcfc;
    position: fixed;
    width: 100%;
    height: 65px;
    bottom: 0;
    left: 0;
    border-left: solid 1px #f7c4bf;
    border-right: solid 1px #f7c4bf;
    border-top: solid 1px #f7c4bf;
    z-index: 200;
}

.zincCode {
    display: none;
}

.preparation {
    display: none;
}

.vjs-caption-settings {
	display: none;
}

#isi-footer {
    .iScrollVerticalScrollbar {
        &.iScrollLoneScrollbar {
            display: none;
        }
    }
}


/* general utiliy classes */

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right; }

.text-middle {
  vertical-align: middle; }

.text-top {
  vertical-align: top; }

.overflow-hidden {
  overflow: hidden; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-weight: initial;
  font-size: 0.7em;
  min-width: 4px;
  display: inline-block; }

sub {
  top: 0.6em; }

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $strong-pink;
    padding: 0;

    // Center
    margin: 0 auto;
}

// Menu activated/deactivated
.activated {
    background-color: #F5C4C0 !important;
    opacity: 1;
}

.week-results {
    width: 177.5px;
    height: 77.5px;
    background: url('../../shared/media/images/96-week-results.png');
    background-repeat: no-repeat;
    background-size: 177.5px 77.5px;
    position: absolute;
    top: 5px;
    left: 45%;
    z-index: 5;
    display: none;
}

.top-bar {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5px;
    background-color: #ea1b75;
}

.nowrap {
    white-space: nowrap;
}


.ui-widget.ui-widget-content {
    border: none;
}


.ui-widget-content a {
    color: inherit;
    text-decoration: none;
    outline: none;
}