@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';
@import '../../shared/css/_tabs.scss';

// mainContent variables
$mainContentColor: $dark-grey;

.mainContent {
  padding-left: 31.5px;
  padding-top: 98px;
  color: $mainContentColor;
  background: url('../media/images/background_2.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0 -160px;
  z-index: 1;

  .bumper-button-container {
    display: grid;
    grid-template-columns: 1fr;

    .bumper-button-layout {
      justify-self: center;
      display: grid;
      grid-template-columns: 450px 50px 450px;
      grid-template-rows: 240px;
      margin-top: 50px;

      .bumper-button {
        grid-row-start: 1;
        display: grid;
        height: 105%;
        background-color: $white;
        border: 2px solid #f7c4bf;
        border-radius: 10px;

        &:nth-child(1) {
          grid-column-start: 1;

          img {
            width: 52px;
            margin-top: -10px;
            margin-bottom: 10px;
          }
        }

        &:nth-child(2) {
          grid-column-start: 3;

          img {
            width: 65px;
            margin-top: -7px;
            margin-bottom: 24px;
          }
        }

        > div {
          align-self: center;
          text-align: center;
        }

        &__title {
          @include font-openSans-condensed-bold();
          color: $strong-pink;
          font-size: 35px;
        }

        &__subtitle {
          @include font-openSans-bold();
          color: $plum;
          font-size: 20px;
        }
      }
    }

  }

  .tabs {
    grid-template-columns: 135px 1fr;

    .tab {
      margin-top: -20px;

      &.tab-1, &.tab-2 {
        margin-left: -30px;
      }

      .chart_subhead_plum, .half, .below_line_text {
        position: relative;
        left: -20px;
      }
    }
  }

  .h1_header_two_lines {
    margin-top: 9px;
    margin-bottom: 25px;
    text-align: center;

    &--bigger {
      margin-bottom: 12px;
    }
  }

  hr {
    width: 69%;
    margin-top: 9px;

    &.half {
      width: 1046px;
    }
  }

  .side-menu {
    position: absolute;
    top: 260px;
  }

  .weeks-container {
    width: 341.5px;
    height: 162px;
    position: absolute;
    left: 735px;
    top: 515px;

    .below_chart_pink_header {
      font-size: 20px;
      color: $strong-pink;
      @include font-openSans-bold();
    }

    ul {
      li {
        text-indent: 5px;
        @include font-openSans-Regular();
        font-size: 17px;
        margin-bottom: 10px;
        .charcoal-grey {
          color: $mainContentColor;
        }
      }
    }
  }

  .graph-container {
    display: grid;
    justify-items: center;
    margin-top: -73px;
  }

  .tab-1 .graph-container {
    margin-left: -40px;
  }

  .tab-2 .graph-container {
    width: 1046px;
    padding-top: 89px;
    margin-left: 40px;
    align-content: center;
  }

  .bone {
    width: 694px;
    height: auto;
    margin-top: 96px;
    margin-bottom: 43px;
  }

  .renal {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }

  .subtext-layout {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
    margin-left: -90px;

    .bumper-subtext {
      justify-self: center;
      @include font-openSans-Regular();
      font-size: 15px;
      .charcoal-grey {
        font-size: 20px;
      }
    }
  }

  // Commented out in html (Not being used - Leaving in as a reference in the future - 3/5/19)
  .baseline-changes-copy {
    @include font-openSans-Regular();
    font-size: 18px;
    position: absolute;
    top: 695px;
    left: 405px;
  }

  .significance-unkown {
    @include font-openSans-bold();
    font-size: 17px;
    background-color: #f7c4bf;
    width: 700px;
    height: 30px;
    color: $plum;
    text-align: center;

    &.tab-two {
      margin-top: 12px;
      padding-top: 2px;
    }
  }

  .tab-1 .significance-unkown {
    padding-top: 2px;
    margin: 0 auto;
    margin-top: -30px;
  }

  .charcoal-grey {
    color: $charcoal-grey;
    margin-left: 0;
  }

  .svg-bottom-text {
    color: $plum;
    @include font-openSans-semiBold();
    font-size: 21px;
    text-align: center;
    margin-top: -47px;

    sup {
      @include font-openSans-Regular();
    }
  }

  .tab-2 .svg-bottom-text {
    @include font-openSans-Regular();
  }

  .changes {
    @include font-openSans-Regular();
    font-size: 16px;
    padding-right: 84px;
    color: $charcoal-grey;
    margin-top: -7px;
    margin-bottom: 6px;
  }
  .chart-footnotes {
    text-align: center;
    white-space: nowrap;
    @include font-openSans-Regular();
    color: #3b3b3b;
    line-height: 16px;
    padding-top: 5px;

    span {
      font-size: 15px;
      white-space: nowrap;
      -webkit-text-size-adjust: none;
    }
  }

  .bottomBullets {
    li {
      color: #3b3b3b;
      @include font-openSans-Regular();
      span {
        @include font-openSans-bold();
        color: #8e1d58;
      }
    }
  }
}

.week-results {
  display: none;
}
