@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';

.mainContent {
	padding-top: 121px;
	background: url('../../shared/media/images/city-drop.jpg');
	background-size: contain;

	h1, h2 {
		color: #ea1b75;
		font-family: "Falina-SemiBold";
		text-align: center;
	}

	h1 {
		font-size: 72.5px;
		text-transform: uppercase;
	}

	h2 {
		font-size: 38px;
	}

	.dosing {
		width: 95%;
    	height: 70%;
    	display: grid;
    	grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		.container {
			display: grid;
    		grid-template-columns: 1fr 1.2fr 0.9fr;
			grid-template-rows: auto auto;
			margin-top: 40px;
			margin-bottom: 10px;
			margin-left: 47px;

			.icon:nth-child(1) {
				img {
					height: 81.7px;
				}
			}

			.icon:nth-child(2) {
				border-color: #ea1b75;
				border-left-style: solid;
				border-right-style: solid;

				img {
					height: 58.7px;
					margin-top: 14px;
				}
			}

			.icon:nth-child(3) {
				img {
					height: 77px;
					margin-top: 7px;
				}
			}

			.icon {
				justify-content: center;
				text-align: center;
				height: 180px;
			}
			.icon_image {
				align-self: center;
				height: 87px;
			}

			
			color: #8e1d58;

			.icon_text {
				text-transform: uppercase;
				font-size: 50px;
				font-family: "Falina-Medium";
				span {
					text-transform: lowercase;
				}
			}

			.icon_subtext {
				font-size: 25px;
				@include font-openSans-Regular();
				margin-top: -6px;
			}
		}
		.fine-print {
			font-size: 14px;
			line-height: 16px;
			letter-spacing: -0.21px;
			color: #3b3b3b;
			text-align: left;
			font-family: "OpenSans-Regular";
			margin-bottom: 268px;
			margin-left: 96px;
			margin-right: 59px;
			text-indent: -8px;

			sup {
				top: -0.5em;
				left: 0.9em;
			}
		}
	}  
}

.isi-footer ul {
	max-width: 98%;
}
	.pill {
		text-align: center;
		position: relative;
		bottom: 163px;
		left: -35px;
		img {
			height: 60px;
			width: 130px;
			margin-bottom: 8px;
		}
		.pill_text {
			@include font-openSans-Regular();
			font-size: 11px;
		}
}
