@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';
@import '../../shared/css/_tabs.scss';

#container {
	background: url('../media/images/background@3x.png');
	background-size: 120%;
}

.mainContent {
	padding-left: 31.5px;
	padding-top: 98px;
	background-color: transparent;

	.three-quarters div {
		align-self: center;
		margin-left: 37px;
	}

	* {
		-webkit-text-size-adjust: none;
	}

	h1 {
		text-align: center;
		margin-bottom: 15px;
		font-size: 40px;
		padding-top: 8px;
	}

	.half {
		width: 1045px;
		padding-bottom: 10px;
	}

	.chart_subhead_light, .chart_subhead_dash {
		color: #8e1d58;
	}

	.chart_subhead_plum {
		line-height: 24px;
		margin-top: -49px;
		margin-bottom: 5px;

		span {
			@include font-openSans-bold();
		}

		sup {
			@include font-openSans-Regular();
		}
	}

	.side-menu {
		margin-top: -30px;
	}

	.tab {
		margin-left: -100px;
	}

	.tab-1 {
		svg {
			padding-left: 70px;
			margin-top: 20px;
		}

		.as-effective {
			width: 285px;
			height: 87px;
			padding-top: 10px;
			border-top: solid 4px #ea1b75;
			border-left: none;
			border-bottom: solid 5px #ea1b75;
			border-right: none;
			text-align: center;
			color: #fff;
			font-size: 18px;
			@include font-openSans-Regular();
			position: absolute;
			top: 252px;
			right: 138px;
			background: url(../media/images/bg-as-effective.jpg) repeat-x;
			background-size: contain;

			h2 {
				text-transform: uppercase;
				@include font-falina-medium();
				font-size: 31px;
				color: #ffffff;
				
			}
		}

		.cd-4 {
			width: 280px;
			position: absolute;
			top: 363px;
			right: 142px;
			@include font-openSans-Regular();
			text-align: left;
			color: #ea1b75;
			border-top: solid 1px #000;
			border-bottom: solid 1px #000;
			padding-bottom: 12px;
			padding-left: 13px;
			padding-right: 9px;
			p {
				margin-top: 10px;
				font-size: 14px;
			}
			span {
				@include font-openSans-bold();
			}
		}

		.bottomBullets {
			padding-top: 0;
			margin-left: 50px;

			ul {
				list-style: none;
				li {
					font-size: 17px;
					line-height: 1;
					color: #3b3b3b;
					@include font-openSans-Regular();
					span {
						@include font-openSans-bold();
						color: #8e1d58;
					}

					&::before {
						content: "\2022";
						color: #8e1d58;
						display: inline-block;
						width: 0.8em;
						vertical-align: -2px;
						font-size: 24px;
					}
				}
			}

		}

		.footnotes {
			@include font-openSans-Regular();
			width: 520px;
			font-size: 13px;
			color: #3d3d3d;
			position: absolute;
			top: 731px;
			left: 807px;
			text-align: left;
		}
	}

	.tab-2 {

		svg {
			margin-left: 230px;
			padding-top: 20px;
		}

		.inner_pink_bar_text {
			color: $white;
			@include font-openSans-condensed-bold();
			font-size: 22px;
			background-color: $strong-pink;
			width: 1045px;
			padding-top: 5px;
			padding-bottom: 5px;
			text-align: center;
			margin: 0 auto;
			position: relative;
			top: -5px;
			sup {
				@include font-openSans-Regular();
			}
		}

		p {
			padding-top: 5px;
			width: 1045px;
			margin: 0 auto;
			@include font-openSans-Regular();
			font-size: 13px;
			color: #3d3d3d;
			span {
				&.hang-left {
					display: inline-block;
					margin-left: -0.4em;
				}
			}
		}
	}

	.tab-3 {
		svg {
			padding-left: 101px;
			margin-top: 5px;
			width: 88%;
		}
		
		.primary-endpoint {
			@include font-openSans-Regular();
			position:absolute;
			width: 190px;
			height:75px;
			left: 816px;
			top: 400px;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0;
			
			strong {
			  	@include font-openSans-bold();
				text-transform: uppercase;
				font-size: 15px;
				letter-spacing: normal;
				font-weight: normal;
			}  
		}

		.as-effective {
			width: 270px;
			height: 87px;
			padding-top: 10px;
			border-top: solid 4px #ea1b75;
			border-left: none;
			border-bottom: solid 5px #ea1b75;
			border-right: none;
			text-align: center;
			color: #fff;
			font-size: 16px;
			@include font-openSans-Regular();
			position: absolute;
			top: 271px;
			right: 135px;
			background: url(../media/images/bg-as-effective.jpg) repeat-x;
			background-size: contain;

			h2 {
				text-transform: uppercase;
				@include font-falina-medium();
				font-size: 30px;
				color: #ffffff;
				
			}
		}

		.cd-4 {
			width: 280px;
			position: absolute;
			top: 260px;
			right: 70px;
			@include font-openSans-Regular();
			text-align: left;
			color: #ea1b75;
			p {
				margin-top: 10px;
			}
			span {
				@include font-openSans-bold();
			}
		}

		.bottomBullets {
			padding-top: 0;
			margin-left: 50px;

			strong {
			  @include font-openSans-bold();
			  font-size: 17px;
			}
			.primari-left-padding {
			  padding-left: 22px;
			}
			sup {
			  @include font-openSans-Regular();
			}
			
			ul {
				list-style: none;
				li {
					font-size: 17px;
					line-height: 1;
					color: #3b3b3b;
					padding-top: 5px;
					@include font-openSans-Regular();
					span {
						@include font-openSans-bold();
						color: #8e1d58;
					}

					&::before {
						content: "\2022";
						color: #8e1d58;
						display: inline-block;
						width: 0.8em;
						vertical-align: -2px;
						font-size: 24px;
					}
				}
			}

		}

		.footnotes {
			@include font-openSans-Regular();
			width: 520px;
			font-size: 13px;
			color: #3d3d3d;
			position: absolute;
			top: 731px;
			left: 807px;
			text-align: left;
		}
	}
}

.tab-4 {
	svg {
		padding-left: 70px;
		margin-top: 20px;
	}
}

#tray_isi {
	h3 {
		span {
			@include font-openSans-Regular();
			color: #414042;
			font-size: 17.5px;
			line-height: 22.5px;
		}

		width: 82%;
	}

	strong {
		@include font-openSans-bold();
		color: #3d3d3d;
	}


}
