<svg version="1.1" id="virologic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1462.3 649.3" enable-background="new 0 0 1462.3 649.3" xml:space="preserve">
	<g>
	   <text transform="matrix(1 0 0 1 729.6608 643.6949)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">Week</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 200.1511 538.6949)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="24px">The evaluation of antiviral activity over time was a prespecified secondary endpoint, ITT–E population.</text>
   </g>
   <g>
	   <text transform="matrix(0 -1 1 0 18.687 570.7872)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">Patients With HIV-1 RNA &lt;50 copies/mL, %</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 59.8241 569.4156)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">0</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 51.8329 371.7984)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">40</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 51.8329 470.607)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">20</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 51.8329 272.9889)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">60</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 43.8417 75.3726)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">100</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 51.8339 174.1822)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">80</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 220.994 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">4</text>
   </g>
   <line fill="none" stroke="#929497" stroke-width="0.6104" stroke-miterlimit="10" x1="229" y1="563.7" x2="229" y2="576"/>
   <g>
	   <text transform="matrix(1 0 0 1 328.6825 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">8</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 428.3807 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">12</text>
   </g>
   <line fill="none" stroke="#929497" stroke-width="0.6104" stroke-miterlimit="10" x1="336.7" y1="563.7" x2="336.7" y2="576"/>
   <line fill="none" stroke="#929497" stroke-width="0.6104" stroke-miterlimit="10" x1="444.4" y1="563.7" x2="444.4" y2="576"/>
   <g>
	   <text transform="matrix(1 0 0 1 536.0663 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">16</text>
   </g>
   <line fill="none" stroke="#929497" stroke-width="0.6104" stroke-miterlimit="10" x1="552" y1="563.7" x2="552" y2="576"/>
   <g>
	   <text transform="matrix(1 0 0 1 751.4432 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">24</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 1399.1307 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">48</text>
   </g>
   <line fill="none" stroke="#929497" stroke-width="0.6104" stroke-miterlimit="10" x1="767.4" y1="563.7" x2="767.4" y2="576"/>
   <g>
	   <text transform="matrix(1 0 0 1 1075.287 608.7652)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="28px">36</text>
   </g>
   <line fill="none" stroke="#929497" stroke-width="0.6104" stroke-miterlimit="10" x1="1091.3" y1="563.7" x2="1091.3" y2="576"/>
   <polyline fill="none" stroke="#3B3B3B" stroke-width="0.5" stroke-miterlimit="10" points="103.1,563.7 1415.1,563.7 1415.1,576 "/>
   <line fill="none" stroke="#3B3B3B" stroke-width="0.5" stroke-miterlimit="10" x1="121.3" y1="464.5" x2="103" y2="464.5"/>
   <line fill="none" stroke="#3B3B3B" stroke-width="0.5" stroke-miterlimit="10" x1="121.3" y1="365.2" x2="103" y2="365.2"/>
   <line fill="none" stroke="#3B3B3B" stroke-width="0.5" stroke-miterlimit="10" x1="121.3" y1="266" x2="103" y2="266"/>
   <line fill="none" stroke="#3B3B3B" stroke-width="0.5" stroke-miterlimit="10" x1="121.3" y1="166.7" x2="103" y2="166.7"/>
   <polyline fill="none" stroke="#3B3B3B" stroke-width="0.5" stroke-miterlimit="10" points="103,67.4 121.3,67.4 121.3,576 "/>
   <polyline id="svg_grey_line" fill="none" stroke="#BFBFBF" stroke-width="4" stroke-miterlimit="10" points="122,561.3 228.7,214.9 336.7,142.3 
	   444.6,122.5 551.6,119.1 767.4,102.2 1092.3,112.4 1415.1,101.3 "/>
   <g>
	   <circle fill="#BFBFBF" cx="767.4" cy="101.6" r="8"/>
	   <circle fill="#BFBFBF" cx="551.6" cy="118.6" r="8"/>
	   <circle fill="#BFBFBF" cx="444.6" cy="121.5" r="8"/>
	   <circle fill="#BFBFBF" cx="336.5" cy="142.8" r="8"/>
	   <circle fill="#BFBFBF" cx="229.3" cy="213.9" r="8"/>
	   <circle fill="#BFBFBF" cx="1092.3" cy="112.7" r="8"/>
	   <path fill="#BFBFBF" d="M1415.1,93.1c-4.5,0-8.2,3.7-8.2,8.2s3.7,8.2,8.2,8.2c4.5,0,8.2-3.7,8.2-8.2S1419.6,93.1,1415.1,93.1z"/>
   </g>
   <polyline id="svg_pink_line" fill="none" stroke="#EA1B75" stroke-width="2.4416" stroke-miterlimit="10" points="1415.1,112.1 1092.3,117.8 
	   767.4,102.2 551.6,127.1 444.6,122.5 336.5,131.9 228.7,209.5 121.3,563.7 "/>
   <g>
	   <circle id="svg_point_5" fill="#8E1D58" cx="767.4" cy="102.2" r="8"/>
	   <circle fill="#EA1B75" cx="767.4" cy="102.2" r="5.4"/>
	   <circle id="svg_point_4" fill="#8E1D58" cx="551.6" cy="127.1" r="8"/>
	   <circle fill="#EA1B75" cx="551.6" cy="127.1" r="5.4"/>
	   <circle id="svg_point_3" fill="#8E1D58" cx="444.6" cy="122.5" r="8"/>
	   <circle fill="#EA1B75" cx="444.6" cy="122.5" r="5.4"/>
	   <circle id="svg_point_2" fill="#8E1D58" cx="336.5" cy="131.9" r="8"/>
	   <circle fill="#EA1B75" cx="336.5" cy="131.9" r="5.4"/>
	   <circle id="svg_point_1" fill="#8E1D58" cx="228.7" cy="209.5" r="8"/>
	   <circle fill="#EA1B75" cx="228.7" cy="209.5" r="5.4"/>
	   <circle id="svg_point_6" fill="#8E1D58" cx="1092.3" cy="117.8" r="8"/>
	   <circle fill="#EA1B75" cx="1092.3" cy="117.8" r="5.4"/>
	   <circle id="svg_point_7" fill="#8E1D58" cx="1415.1" cy="112.1" r="8.2"/>
	   <circle fill="#EA1B75" cx="1415.1" cy="112.1" r="5.5"/>
   </g>
   <rect x="122" y="54.9" fill="none" width="1340.2" height="508.8"/>
   <g>
	   <line fill="none" stroke="#EA1B75" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="977.2" y1="429.9" x2="1040" y2="429.9"/>
	   <g>
		   <text transform="matrix(1 0 0 1 1063.6289 479.1148)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="24px">DTG + TDF/FTC (n=717)</text>
	   </g>
	   <g>
		   <text transform="matrix(1 0 0 1 1063.6289 437.4566)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="24px">DOVATO (n=716)</text>
	   </g>
	   <g>
		   <g>
			   <circle fill="#8E1D58" cx="1008.6" cy="429.9" r="9.6"/>
		   </g>
		   <g>
			   <circle fill="#EA1B75" cx="1008.6" cy="429.9" r="6.5"/>
		   </g>
	   </g>
	   
		   <line fill="none" stroke="#BFBFBF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="977.2" y1="471.1" x2="1040" y2="471.1"/>
	   <g>
		   <g>
			   <circle fill="#BFBFBF" cx="1008.6" cy="471.1" r="9.6"/>
		   </g>
	   </g>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 239.3282 239.4275)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">70</text>
	   <text transform="matrix(0.583 0 0 0.583 268.4898 230.7693)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 430.6602 161.5572)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">89</text>
	   <text transform="matrix(0.583 0 0 0.583 459.8219 152.899)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 535.7265 98.8459)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">9</text>
	   <text transform="matrix(1 0 0 1 550.3076 98.8459)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">0</text>
	   <text transform="matrix(0.583 0 0 0.583 564.3681 90.1877)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 1073.5936 91.3092)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">91</text>
	   <text transform="matrix(0.583 0 0 0.583 1102.7552 82.651)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   </g>
   <g>
	   <text transform="matrix(1 0 0 1 753.4189 139.3267)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">93</text>
	   <text transform="matrix(0.583 0 0 0.583 782.5805 130.6685)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   </g>
   <text transform="matrix(1 0 0 1 198.7707 194.3167)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">72</text>
   <text transform="matrix(0.583 0 0 0.583 227.9324 185.6585)" fill="#EA1B75" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   <text transform="matrix(1 0 0 1 324.9451 113.1599)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">8</text>
   <text transform="matrix(1 0 0 1 339.5262 113.1599)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px" letter-spacing="1">7</text>
   <text transform="matrix(0.583 0 0 0.583 355.6668 104.5017)" fill="#EA1B75" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   <text transform="matrix(1 0 0 1 430.6601 102.626)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">89</text>
   <text transform="matrix(0.583 0 0 0.583 459.8217 93.9678)" fill="#EA1B75" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   <text transform="matrix(1 0 0 1 538.1974 164.6076)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">8</text>
   <text transform="matrix(1 0 0 1 552.7784 164.6076)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">8</text>
   <text transform="matrix(0.583 0 0 0.583 566.839 155.9494)" fill="#EA1B75" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   <text transform="matrix(1 0 0 1 1073.5907 156.9502)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">90</text>
   <text transform="matrix(0.583 0 0 0.583 1102.7523 148.292)" fill="#EA1B75" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   <g>
	   <circle id="pink_circle" fill="#EA1B75" stroke="#8E1D58" stroke-width="4" stroke-miterlimit="10" cx="1409.6" cy="181.1" r="49.9"/>
	   <g>
		   <text transform="matrix(1 0 0 1 1366.853 195.6666)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="36px">91.5</text>
		   <text transform="matrix(0.583 0 0 0.583 1437.3252 183.6783)" fill="#FFFFFF" font-family="'OpenSans-Regular'" font-size="36px">%</text>
	   </g>
   </g>
   <g>
	   <circle id="grey_circle" fill="#E6E7E8" cx="1408.3" cy="32.6" r="49.9"/>
	   <text transform="matrix(1 0 0 1 1365.8848 46.1039)" fill="#3B3B3B" font-family="'OpenSans-Bold'" font-size="36px">93.3</text>
	   <text transform="matrix(0.583 0 0 0.583 1436.3569 34.1156)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="36px">%</text>
   </g>
   <text transform="matrix(1 0 0 1 753.4189 81.5318)" fill="#EA1B75" font-family="'OpenSans-Semibold'" font-size="26px">93</text>
   <text transform="matrix(0.583 0 0 0.583 782.5805 72.8736)" fill="#EA1B75" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   <g>
	   <text transform="matrix(1 0 0 1 326.785 179.8721)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">8</text>
	   <text transform="matrix(1 0 0 1 341.3661 179.8721)" fill="#3B3B3B" font-family="'OpenSans-Semibold'" font-size="26px">4</text>
	   <text transform="matrix(0.583 0 0 0.583 355.4266 171.2139)" fill="#3B3B3B" font-family="'OpenSans-Regular'" font-size="26px">%</text>
   </g>
   </svg>