@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';
@import '../../shared/css/_tabs.scss';


.mainContent {
	padding-left: 31.5px;
    padding-top: 105px;
    background: url("../media/images/background@3x.png");
    background-repeat: no-repeat;
    background-size: 120%;
	background-position: 0 0;
	z-index: 1;

	h1 {
		text-align: center;
		padding-bottom: 0;
		font-size: 40px;
		margin-bottom: 15px;
	}

	h2 {
		text-align: center;
		@include font-openSans-semiBold();
		color: #8b1d58;
		font-size: 21px;
		margin-top: 0;
		margin-bottom: 7px;
	}

	h3 {
		margin-top: 4px;
		font-size: 16px;
		color: #8e1d58;
		text-align: center;
		@include font-openSans-semiBold();
		color: #8b1d58;

		span {
			@include font-myriad-pro-regular();
		}
	}

	.bumper-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 60%;
		width: 100%;

		video {
			width: 1400px;
			height: 445px;
		}

		.video-player {
			align-self: center;
			margin-left: -45px;
			transform: scale(1.2);
		}
	}

	.adr-content {
		display: grid;
		justify-content: center;
	}

	.svg-table {
		width: 1000px;
  		margin: 0 auto;

		svg {
			width: 100%;
			height: auto;
		}
	}

	h2.inner_pink_bar_text {
		@include font-openSans-bold();
		padding-top: 5px;
		padding-bottom: 0;
		font-size: 18px;
		color: #404041;
		text-align: center;
		margin: 0 auto 0 auto;
		span {
			@include font-openSans-Regular();
		}
	}

	.chart-footnote {
		@include font-openSans-Regular();
		margin-top: 0;
		font-size: 14px;
		line-height: 14px;
		color: #3d3d3d;
		sup {
			display: inline-block;
			margin-left: -0.5em;
		}
		b { 
			@include font-openSans-bold(); 
			font-size: 16px;
		  }
	}

	.chart_subhead_plum {
		padding-bottom: 9px;
		font-size: 16px;
	}

	.chart-footnote-emph {
		@include font-openSans-bold();
		text-align: center;
		padding-bottom: 0.6em;
	}

	.side-menu {
    	padding-top: 40px;
	}

	hr {
		margin: 0 auto;
		width: 1000px;
	}

	.tab_title {
		color: #3d3d3d;
		padding-top: 0;
	}

	ul {
		margin-left: 23px;
		margin-top: 2px;
		margin-bottom: 6px;
	}

	.button-chart {
		display: grid;
		grid-template-columns: auto auto;
		box-shadow: 2.5px 4.3px 0 0 rgba(176, 179, 181, 0.64);
		background-color: #fffcfc;
		width: 240px;
		height: 50px;
		border: 2px solid #8e1956;

		&__text {
			justify-self: end;
			align-self: center;
			font-size: 15px;
			color: #8e1956;
			@include font-roboto-medium();
			text-transform: uppercase;
		}

		&__icon {
			align-self: center;
			justify-self: start;

			img {
				width: 36px;
				height: 31px;
			}
		}
	}
}

.opensans {
	@include font-openSans-Regular();
}

.opensansBold {
	@include font-openSans-bold();
}

.openSansSemiBold {
	@include font-openSans-semiBold();
}

#dialog-patient-profiles {
	width: 100%
}

.isi-footer .isi-footer-heading {
	width: 91%;
}
