@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';


.mainContent {
  padding-left: 31.5px;
  padding-top: 95px;

  .h1-header-chart-pages-km001-sub {
    font-size: 22.5px;
    line-height: 15.5px;
    @include font-openSans-bold();
    color: #4b4b4b;
    position: absolute;
    left: 226px;
    top: 185px;
 }

  svg#Layer_3 {
    margin-left: 75px;
    margin-top: 28px;
    width: 85%;
      
    .st0{fill:#63666A;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#723B96;}
    .st3{fill:#007AC0;}
    .st4{fill:#EAE2EF;}
    .st5{fill:#D9EBF6;}
    .st6{fill:#E8E8E9;}
    .st7{@include font-falina-bold();}
    .st8{font-size:41.5051px;}
    .st9{font-size:49px;}
    .st10{fill:none;stroke:#3D3D3D;stroke-miterlimit:10;}
    .st11{fill:none;stroke:#3D3D3D;stroke-width:0.5;stroke-miterlimit:10;}
    .st12{fill:none;}
    .st13{@include font-openSans-bold();}
    .st14{font-size:40px;}
    .st15{@include font-openSans-Regular();}
    .st16{font-size:29px;}
    .st17{fill:#63666A;stroke:#FFFFFF;stroke-width:0.9854;stroke-miterlimit:10;}
    .st18{fill:#CDDCA6;}
    .st19{fill:#7D9842;}
    .st20{fill:#8EAE55;}
    .st21{fill:#ECB782;}
    .st22{fill:#B66929;}
    .st23{fill:#D07832;}
    .st24{clip-path:url(#SVGID_2_);fill:#F070AA;}
    .st25{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
    .st26{clip-path:url(#SVGID_2_);fill:#439A84;}
    .st27{clip-path:url(#SVGID_2_);fill:none;stroke:#9F3A67;stroke-width:1.844;stroke-miterlimit:10;}
    .st28{clip-path:url(#SVGID_2_);fill:#EAC5A7;}
    .st29{clip-path:url(#SVGID_2_);fill:#EE578E;}
    .st30{clip-path:url(#SVGID_2_);fill:#231F20;}

  }

  .falenaBold {
    @include font-falina-bold();
  }

  .falenaRegular {
    @include font-falina-regular();
  }

  .primary {
    font-size: 15px;
    color: #4b4b4b;
    max-width: 91%;
    margin-top: -20px;
    line-height: 1.5em;
    padding-top: 15px;
    @include font-openSans-Regular();
    span {
      @include font-openSans-bold();
    }
  }

  .inclusion {
    color: #4b4b4b;
    font-size: 15px;
    padding-bottom: 30px;
    @include font-openSans-Regular();
    -webkit-text-size-adjust: none;
    span {
      @include font-openSans-bold();
    }
  }

  .chart-footnote {
    margin-top: 1px;
    font-size: 12px;
    @include font-openSans-Regular();
    color: #4b4b4b;
  }

   h3 {
     &.indications {
      color:#006fbb;
      @include font-openSans-bold();
      font-size: 17.5px;
      margin-top: 5.5px;
      -webkit-text-size-adjust: none;
     }
   }

   p {
     &.indications {
      color: #4b4b4b; 
      @include font-openSans-Regular();
      font-size: 17.5px;
      -webkit-text-size-adjust: none;
     }
   }

   ul {
     &.indications {
       li {
        @include font-openSans-Regular();
        font-size: 17.5px;
         color: #006fbb;
         span {
           color: #4b4b4b;
         }
       }
     }
   }

}

// Tray isi override
#tray_isi {
  h3 {
    color: #006fbb;
    padding-bottom: 8px;
    &.addpad {
      padding-top: 8px;
    }
  }

  ul {
    margin-bottom: 10px;
  }

  ul li {
    color: $dark-grey;
   }

  &.paddingFull {
    padding-top: 35px ;
  }
  .footer-text-bold {
    @include font-openSans-bold();
    color: #006fbb;
    &.link-text {
      color: #4b4b4b;
    }
  }
}

// Isi override
.isi-footer {
  background-color: #e7e7e7;
}

// Isi popup override
.ui-dialog[aria-describedby=safe-dialog-trivicay] {
  background-color: #e7e7e7 !important;

  h1 {
    color: #006fbb !important;
    border-color: #006fbb !important;
  }

  h3 {
    font-size: 23.3px;
    color: #006fbb !important;
    &.main-sub-head {
      font-size: 17.5px;
      padding-bottom: 8px;
    }
    &.tivicay-isi-header {
      @include font-falina-medium();
		  font-size: 32px;
		  line-height: 26.5px;
      margin-bottom: 0;
      border-bottom: dotted 1.5px #006fbb;
      padding-bottom: 15px;
    }
  }

  ul li {
    color: $dark-grey;
  }

  .footer-text-bold {
    color: #006fbb;
    &.link-text {
      color: #4b4b4b;
    }
    @include font-openSans-bold();
  }
}

.ui-dialog[aria-describedby=safe-dialog-trivicay] button.ui-dialog-titlebar-close {
  background: url(../media/images/blue_x.png) !important;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  width: 28px;
  height: 28px;
  right: 38px;
}

// custom footer styles 
.navBottom {
  #Isi-nav {
    &.footer_text {
      color: #006fbb;
    }
  }
  #pi-nav {
    color: #006fbb;
  }
}

#Isi-absolute {
  &.footer_text {
    color: #006fbb;
  }
}

#pi-absolute {
  &.footer_text {
    color: #006fbb;
  }
}

#tivicay-isi-dialogBody, #wrapper {
  &.dialogBody {
      padding-right: 44px;
      .gotoSlide {
        text-decoration: underline;
        color: #006fbb;
      }
  }
}

#isi-footer .iScrollVerticalScrollbar.iScrollLoneScrollbar {
  right: 41px !important;
  top: 118px !important;
  display: block;
  &.collapsed {
    top: 160px !important;
  }
}

#wrapper {
  position: relative;
  height: 792px;
	overflow: hidden;

  .iScrollVerticalScrollbar {
	  position: absolute;
	  z-index: 9999;
	  width: 16px;
	  bottom: 2px;
	  top: 2px;
	  right: 2px;
	  overflow: hidden;
  }

  .iScrollVerticalScrollbar.iScrollLoneScrollbar {
    height: 49%;
    bottom: 0 !important;
    box-shadow: 0px 0.5px 0 0 #fff, inset 0px 0.5px 1.5px 0 #000 !important;
    background-color: #bec3c8;
    width: 3px !important;
    .iScrollIndicator {
      height: 128px !important;
      width: 3px !important;
      box-shadow: 0px 0.5px 1.5px 0 #989b9d;
      background-image: linear-gradient(to top, #007ac0, #00558f) !important;
    }
  }
}

