@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';
@import '../../shared/css/_tabs.scss';

.top-bar {
	border-top:6.5px solid #ea1b75;
	height: 10px;
}
.mainContent {
	padding-left: 31.5px;
	padding-top: 65px;
	background: url('../media/images/background@3x.png');
	background-repeat: no-repeat;
    z-index: 0;
    background-size:cover;
	
    .tabs-container {
        display:grid;
        width:100%;
        height: 90%;
        margin:auto;

        .tabs {
            height: 100%;
        }
    }

    .tabs-menu {
        margin-top:190px;
        grid-column: 1 /2;

        .side-menu__item {
            margin-right:40px;
        }
    }

    .tabs-content{
        grid-column : 2;
        position: relative;
        width:1055px;
        height:100%;

        h1{
            margin-top:56px;
            text-align: center;
            color:$strong-pink;
            font-size:45px;
            @include font-falina-semiBold();
        }

        h2{
            color:$darkish-purple-two;
            font-size:20px;
            @include font-openSans-semiBold();
            border-bottom:2px solid $strong-pink;
        }

        .tab{
            position: absolute;
            width:100%;
            height:85%;
            top:15%;
            left:0;

            p.footnote{
                @include font-openSans-Regular();
            }
        }
    }

    .tab-1{

        h2{
            text-align: center;
        }

        .svg-container{
            width: 1082.5px;
            height: 368.5px;
            margin-top:40px;
        }

        .footnotes-container{
            width:100%;
            margin-top:30px;
            font-size:17px;
            color:#3b3b3b;
            -webkit-text-size-adjust: none;
        }
    }

    .tab-2{

        h2{
            text-align: center;
        }

        .svg-container{
            width: 1014px;
            height: auto;
        }

        .footnotes-container{
            margin-top:20px;
            width:100%;
            font-size:12px;
            color:#3b3b3b;
            -webkit-text-size-adjust: none;
            
            p.footnote{
                position: relative;
                left:10px;
            }

            .hanging-indent{
                position: absolute;
                left:-7px;
            }
        }
    }
}