@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';


.mainContent {
	padding-left: 31.5px;
	padding-top: 71px;
	background: url('../../shared/media/images/background.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 0;
	z-index: 1;

	* {
		-webkit-text-size-adjust: none;
	}

	sub {
		top: 0.3em;
		padding-left: 0.5em;
	}

	h1 {
		text-align: center;
		font-size: 45px;
		padding-top: 53px;
		padding-bottom: 10px;
		span {
			@include font-falina-regular();
			vertical-align: text-top;
			font-size: 0.5em;
		}
	}

	> div:nth-of-type(1) {
		display: flex;
	}

	.pink-box {
		background-color: #ea1b75;
		width: 976px;
		height: 41.5px;
		margin-top: 21px;
		margin-left: 176px;
		color: white;
		@include font-openSans-condensed-bold();
		font-size: 22px;
		text-align: center;
		padding-left: 25px;
		padding-top: 6px

	}

	.big_O {
		color: #ea1b75;
		@include font-openSans-bold();
		text-shadow: 6px 1px 1px rgba(0, 0, 0, 0.2);
		font-size: 241.2px;
		width: 120px;
		height: 177px;
		margin-top: -87px;
		margin-left: 290px;
		margin-right: 0;
		margin-bottom: 24px;
	}

	.cases {
		@include font-openSans-Regular();
		font-size: 23.8px;
		line-height: 27px;
		color: #8e1d58;
		width: 535px;
		margin-left: 45px;
		margin-top: 20px;
		border-color: #ea1b75;
		border-width: 2px;
		border-top-style: solid;
		border-bottom-style: solid;
		padding-top: 9px;
		padding-left: 13px;
		padding-bottom: 16px;
		line-height: 35px;

		ul {
			@include font-openSans-bold();
			list-style: none;

			li:before {
			    content: "·";
			    font-size: 41px;
			    vertical-align: -5px;
			    color: #ea1b75;
			    margin-left: -19px;
			    padding-right: 4px;
			}
		}
	}

	.balanced-fine-print {
		width: 895px;
		margin: 0px auto;
		margin-top: 90px;
		margin-bottom: 55px;

		ul {
			
			// margin-left: 6px;
			list-style-position: outside;

			li {
				color: #8e0d50;
				font-size: 19px;
				line-height: normal;
				@include font-openSans-bold();
				padding-bottom: 0.3em;
			}
			
			// text-align: left;
			
			// font-size: 23.8px;
			// // list-style: none;
			// // border: thin solid red;
			// margin-left: 0;
			// padding-left: 0;
			margin-bottom: 1em;

			span {
				color: #3b3b3b;
				@include font-openSans-Regular();
				font-size: 19px;
				line-height: normal;
			}
			// li:before {
			// 	content: "· ";
			// 	@include font-openSans-bold();
			//     font-size: 41px !important;
			//     vertical-align: -5px;
			//     color: #ea1b75;
			//     // margin-left: -41px;
			//     // padding-right: 4px;
			// }
		}

	}

	.fine-print {
		color: #3b3b3b;
		text-align: left;
		@include font-openSans-Regular();
		line-height: 16px;
		margin-top: 8px;
		margin-left: 238px;
		margin-right: 180px;
		text-indent: -6px;

		
		sup {
			text-indent: 0;
		}
		.hang-left {
			display: inline-block;
			margin-left: 4px;
		}
		p:nth-of-type(1) {
			font-size: 14px;
			sup {
				text-indent: 0;
			}
		}

		p:nth-of-type(2) {
			font-size: 17px;
			margin-top: -4px;
			margin-left: 0;
		}

		p:nth-of-type(3) {
			margin-top: 10px;
		}

		.pink {
			color: #8e1d58;
			font-size: 28px;
			margin-left: -15px;
			float: left;
			@include font-openSans-bold();
		}
	}
}

#tray_isi {
	h3 {
		span {
			@include font-openSans-Regular();
    		color: #414042;
    		font-size: 17.5px;
    		line-height: 22.5px;
		}

		width: 82%;
	}


}
