@charset "UTF-8";

/* Local CSS */
@import '../../shared/css/_fonts.scss';
@import '../../shared/css/_variables.scss';
@import '../../shared/css/_tabs.scss';


.mainContent {
	padding-left: 31.5px;
    padding-top: 98px;
    background: url(../media/images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
	background-position: 0 0;
	z-index: 1;

	.h1-header {
		text-align: center;
		margin-top: 2px;
		margin-left: 91px;
		margin-bottom: -40px;
		@include font-falina-semiBold();

		sup {
			@include font-falina-regular();
		}
	}

	.tab_title {
		color: #8e1d58;
	}

	.content-container {
		margin-top: 31px;
	}

	.bumper-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 60%;
		width: 100%;

		video {
			width: 1400px;
			height: 445px;
		}

		.video-player {
			align-self: center;
			margin-left: -45px;
			transform: scale(1.2);
		}
	}

	.inner_pink_bar_text {
		color: $white;
		@include font-openSans-condensed-bold();
		font-size: 19.2px;
		background-color: $strong-pink;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		margin-top: -25px;
		margin-bottom: 10px;
	}

	.chart-footnote {
		margin-left: 16px;
		font-size: 14px;
		@include font-openSans-Regular();
	}

	.tab-2 {
		.chart-footnote {
			margin-top: 23px;
			@include font-openSans-bold();
		}
	}

	.chart_subhead_plum {
		padding-bottom: 5px;
		margin-top: 18px;
	}

	.side-menu {
    	padding-top: 45px;
	}

    .tab-1, .tab-2 {
        width: 1072px;
    }
    
    .tab-1 {
        justify-self: left;
        ul.tab-one-list {
			width: 28%;
			float: left;
			margin-right: 5%;
		}
		
		.chart-footnote {
			float: left;
		}

		hr {
			margin-right: 36px;
		}
    }


	.tabs--three-column {
		grid-template-columns: 1fr;
		margin-left: 14%;
		margin-top: -25px;
		width: 80%;

		hr {
			border-top: 0.5px solid #99999a;
			padding-top: 20px;
			margin: 0;
			margin-right: 36px;
		}

		.tab-1, .tab-2 {
			width: 100%;
			justify-self: start;
			grid-column-start: 1;
		}

		.three-column {
			display: grid;
			grid-template-columns: auto auto auto;

			.column {
				&:nth-child(1) {
					padding-right: 20px;
				}

				&:nth-child(2) {
					padding-left: 20px;
					border-right: none;
				}

				&:nth-child(3) {
					padding-left: 20px;
					border: 0;
				}
			}
		}
	}

	.button-chart {
		display: grid;
		grid-template-columns: auto auto;
		box-shadow: 2.5px 4.3px 0 0 rgba(176, 179, 181, 0.64);
		background-color: #fffcfc;
		width: 240px;
		height: 50px;
		border: 2px solid #8e1956;

		&__text {
			justify-self: end;
			align-self: center;
			font-size: 15px;
			color: #8e1956;
			@include font-roboto-medium();
			text-transform: uppercase;
		}

		&__icon {
			align-self: center;
			justify-self: start;

			img {
				width: 36px;
				height: 31px;
			}
		}
	}
}

.opensans {
	@include font-openSans-Regular();
}

.opensansBold {
	@include font-openSans-bold();
}

.openSansSemiBold {
	@include font-openSans-semiBold(); 
}

#slide_1 {
	margin-right: 10px;
}

#dialog-patient-profiles {
	width: 100%
}

#Layer_3, #Layer_1 {
	margin-bottom: 20px;
	
	.cls-54,.cls-68,.cls-7 {
		font-size: 28px;
		@include font-openSans-condensed-bold();
	}

	tspan {
		@include font-openSans-condensed-bold();
	}

	.condensed-bold {
		@include font-openSans-condensed-bold();
	}
}

#Layer_1 {
	tspan {
		@include font-openSans-Regular();
	}
	margin-left: 3%;
	width: 94%;
}

#Layer_3 {
	float: right;
}